<template>
    <section class="mt-lg-1">
        <h2 class="h1-responsive font-weight-bold my-5">Daftar Ujian</h2>
      <mdb-row v-for="(list , index) in dataTugas" :key="index">
        <mdb-col xl="12" md="6" class="mb-r">
          <mdb-card cascade class="cascading-admin-card">
            <div class="admin-up">
              <mdb-icon icon="tasks" class="primary-color"/>
              <div class="data">
                <h4>
                  <strong>{{list.nama_tugas}}</strong>
                </h4>
                <div v-if="list.status_tugas.length == 0">
                  <mdb-badge tag="a" href="#" color="danger">Belum Dikerjakan</mdb-badge>
                </div>
                <div v-else>
                  <mdb-badge v-if="list.status_tugas == 0" tag="a" href="#" color="info">Proses Dikerjakan</mdb-badge>
                  <mdb-badge v-else-if="list.status_tugas == 1" tag="a" href="#" color="success">Sudah Dikerjakan</mdb-badge>
                </div>
              </div>
            </div>
            <mdb-card-body>
              <div v-if="list.status_tugas.length != 0">
                <mdb-btn  @click="startTask(list)" outline="primary">Lihat Tugas</mdb-btn>
              <mdb-btn @click="getNilai(list.id_nama_tugas)" outline="success">Lihat Nilai</mdb-btn>
              </div>
              <div v-else>
                  <mdb-btn outline="primary" @click="startTask(list)">Mulai Kejakan Ujian</mdb-btn>
              </div>
            </mdb-card-body>
          </mdb-card>
        </mdb-col>
      </mdb-row>
      <!-- modal show nilai -->
        <mdb-modal :show="modalNilai" @close="modalNilai = false">
        <mdb-modal-header>
            <mdb-modal-title>Nilai Siswa</mdb-modal-title>
        </mdb-modal-header>
        <mdb-modal-body>
            <h4>
                <strong>
                    Nilai PG : {{this.nilaiPg}}
                    <br>
                    Nilai Keseluruhan : {{this.nilaiKeseluruhan}}
                </strong>
            </h4>
            
        </mdb-modal-body>
        <mdb-modal-footer>
            <mdb-btn color="secondary" @click.native="modalNilai = false">Close</mdb-btn>
        </mdb-modal-footer>
        </mdb-modal>
    </section>
</template>
<script>
import { Action } from '../../../store/api/types';
  import 'sweetalert2/dist/sweetalert2.css'
  import Swal from 'sweetalert2'
    import { mdbRow, mdbBadge,mdbCol, mdbBtn, mdbCard, mdbCardBody, mdbCardHeader, mdbCardText, mdbIcon, mdbTbl, mdbBarChart, mdbPieChart, mdbLineChart, mdbRadarChart, mdbDoughnutChart, mdbListGroup, mdbListGroupItem, mdbModal, mdbModalHeader, mdbModalTitle, mdbModalBody, mdbModalFooter } from 'mdbvue'
    export default {
  name: 'Dashboard',
  components: {
    mdbRow,
    mdbCol,
    mdbBtn,
    mdbCard,
    mdbCardBody,
    // mdbCardHeader,
    // mdbCardText,
    mdbIcon,
    mdbBadge,
    // mdbTbl,
    // mdbBarChart,
    // mdbPieChart,
    // mdbLineChart,
    // mdbRadarChart,
    // mdbDoughnutChart,
    // mdbListGroup,
    // mdbListGroupItem,
    // mdbBadge,
    mdbModal,
    mdbModalHeader,
    mdbModalTitle,
    mdbModalBody,
    mdbModalFooter
  },
  data () {
    return {
      showFrameModalTop: false,
      showFrameModalBottom: false,
      showSideModalTopRight: false,
      showSideModalTopLeft: false,
      showSideModalBottomRight: false,
      showSideModalBottomLeft: false,
      showCentralModalSmall: false,
      showCentralModalMedium: false,
      showCentralModalLarge: false,
      showCentralModalFluid: false,
      showFluidModalRight: false,
      showFluidModalLeft: false,
      showFluidModalTop: false,
      showFluidModalBottom: false,
      dataTugas:[],
      modalNilai:false,
      nilaiPg:"",
      nilaiKeseluruhan:""
    }
  },
  created(){
      console.log(this.$route.query.id);
      this.getUjian(this.$route.query.id);
  },
  methods:{
    async getNilai(id_tugas){
      Swal({
          title: "Loading",
          onBeforeOpen: () => {
            Swal.showLoading();
          }
        });
        let isi ={
          id_siswa:localStorage.getItem("id_user"),
          id_tugas:id_tugas
        }
        let res = await this.$store.dispatch(`${Action.getNilaiByIdSiswaAndIdTugas}`, isi);
        console.log(res);
        if(res.status == 200){
          this.modalNilai= true;
          Swal.close();
          if(res.data.length != 0){
            this.nilaiPg = res.data[0].nilai_pg;
            this.nilaiKeseluruhan = res.data[0].nilai_keseluruhan
          } else{
            this.nilaiPg = "0";
            this.nilaiKeseluruhan = "0"
          }
        }
    },
      pageLink(data){
        console.log(data);
        let isi = {
          id:data.id_nama_tugas,
          id_kelas:this.$route.query.id_kelas,
          nama_tugas:data.nama_tugas,
          durasi:data.durasi
        }
        this.$router.push({path: "/jawabSoal", query:{id:data.id_nama_tugas,id_kelas:this.$route.query.id_kelas}});
      },
      async startTask(data){
        console.log(data);
        // let res = await this.$store.dispatch(`${Action.postStatusTugas}`, data);
        // if(res.status == 200){
          this.pageLink(data);
        // } else {
        //   Swal({
				// 			title: "Gagal post data "+res,
				// 			showClass: {
				// 				popup: "animate__animated animate__fadeInDown"
				// 			},
				// 			hideClass: {
				// 				popup: "animate__animated animate__fadeOutUp"
				// 			}
				// 		})
        // }
      },
      async getUjian(id){
        Swal({
          title: "Loading",
          onBeforeOpen: () => {
            Swal.showLoading();
          }
        });
        let isi ={
          id:id,
          status:2
        }
          let res = await this.$store.dispatch(`${Action.getTugasByIdMapelAndStatus}`, isi);
          console.log(res);
          if(res.status == 200){
            Swal.close();
            this.dataTugas= await res.data;
          } else{
            Swal.close();
            Swal({
							title: "Memuat Data Gagal "+res,
							showClass: {
								popup: "animate__animated animate__fadeInDown"
							},
							hideClass: {
								popup: "animate__animated animate__fadeOutUp"
							}
						})
          }
      }
  }
  
}
</script>
<style scoped>
.cascading-admin-card {
  margin: 20px 0;
}
.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}
.cascading-admin-card .admin-up .fas,
.cascading-admin-card .admin-up .far {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
  padding: 1.7rem;
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-right: 1rem;
  border-radius: 3px;
}
.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}
.admin-up .data p {
  color: #999999;
  font-size: 12px;
}
.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}
</style>
