<template>
    <section class="mt-lg-1">
        <h2 class="h1-responsive font-weight-bold my-5">Daftar Kelas</h2>
      <mdb-row v-for="(list , index) in dataKelas" :key="index">
        <mdb-col xl="12" md="6" class="mb-r">
          <mdb-card cascade class="cascading-admin-card">
            <div class="admin-up">
              <mdb-icon icon="tasks" class="primary-color"/>
              <div class="data">
                <h4>
                  <strong>Kelas : {{list.nama_kelas}}</strong>
                </h4>
              </div>
            </div>
            <mdb-card-body>
              <mdb-btn @click="startTask(list,'/pageListMapelGuru')" outline="primary">Lihat Mata Pelajaran</mdb-btn>
              <!-- <mdb-btn @click="startTask(list,'/manajemenUjian')" outline="success">Lihat Ujian</mdb-btn> -->
              <!-- <mdb-btn v-else outline="primary" @click="startTask(list)">Mulai Kejakan Ujian</mdb-btn> -->
            </mdb-card-body>
          </mdb-card>
        </mdb-col>
      </mdb-row>
    </section>
</template>
<script>
import { Action } from '../../store/api/types';
  import 'sweetalert2/dist/sweetalert2.css'
  import Swal from 'sweetalert2'
    import { mdbRow, mdbBadge,mdbCol, mdbBtn, mdbCard, mdbCardBody, mdbCardHeader, mdbCardText, mdbIcon, mdbTbl, mdbBarChart, mdbPieChart, mdbLineChart, mdbRadarChart, mdbDoughnutChart, mdbListGroup, mdbListGroupItem, mdbModal, mdbModalHeader, mdbModalTitle, mdbModalBody, mdbModalFooter } from 'mdbvue'
    export default {
  name: 'Dashboard',
  components: {
    mdbRow,
    mdbCol,
    mdbBtn,
    mdbCard,
    mdbCardBody,
    // mdbCardHeader,
    // mdbCardText,
    mdbIcon,
    // mdbBadge
    // mdbTbl,
    // mdbBarChart,
    // mdbPieChart,
    // mdbLineChart,
    // mdbRadarChart,
    // mdbDoughnutChart,
    // mdbListGroup,
    // mdbListGroupItem,
    // mdbBadge,
    // mdbModal,
    // mdbModalHeader,
    // mdbModalTitle,
    // mdbModalBody,
    // mdbModalFooter
  },
  data () {
    return {
      showFrameModalTop: false,
      showFrameModalBottom: false,
      showSideModalTopRight: false,
      showSideModalTopLeft: false,
      showSideModalBottomRight: false,
      showSideModalBottomLeft: false,
      showCentralModalSmall: false,
      showCentralModalMedium: false,
      showCentralModalLarge: false,
      showCentralModalFluid: false,
      showFluidModalRight: false,
      showFluidModalLeft: false,
      showFluidModalTop: false,
      showFluidModalBottom: false,
      dataKelas:[]
    }
  },
  created(){
      this.getKelas();
  },
  methods:{
      pageLink(data,path){
        console.log(data);
        this.$router.push({path: path, query:{id:data.id_kelas}});
      },
      async startTask(data,path){
        console.log(data);
        // let res = await this.$store.dispatch(`${Action.postStatusTugas}`, data);
        // if(res.status == 200){
          this.pageLink(data,path);
        // } else {
        //   Swal({
				// 			title: "Gagal post data "+res,
				// 			showClass: {
				// 				popup: "animate__animated animate__fadeInDown"
				// 			},
				// 			hideClass: {
				// 				popup: "animate__animated animate__fadeOutUp"
				// 			}
				// 		})
        // }
      },
      async getKelas(){
        Swal({
          title: "Loading",
          onBeforeOpen: () => {
            Swal.showLoading();
          }
        });
        let data = {
          id_guru:localStorage.getItem("id_user")
        }
          let res = await this.$store.dispatch(`${Action.getListKelasGuru}`, data);
          console.log(res);
          if(res.status == 200){
            Swal.close();
            this.dataKelas= await res.data;
          } else{
            Swal.close();
            Swal({
							title: "Memuat Data Gagal "+res,
							showClass: {
								popup: "animate__animated animate__fadeInDown"
							},
							hideClass: {
								popup: "animate__animated animate__fadeOutUp"
							}
						})
          }
      }
  }
  
}
</script>
<style scoped>
.cascading-admin-card {
  margin: 20px 0;
}
.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}
.cascading-admin-card .admin-up .fas,
.cascading-admin-card .admin-up .far {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
  padding: 1.7rem;
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-right: 1rem;
  border-radius: 3px;
}
.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}
.admin-up .data p {
  color: #999999;
  font-size: 12px;
}
.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}
</style>
