<template>
    <section class="mt-lg-1">
        <mdb-card class="p-5">
            <h2 class="h1-responsive font-weight-bold my-5">Daftar Soal</h2>
        <mdb-btn class="mb-5" @click.native="modalAdd()" outline="primary">Tambah Soal</mdb-btn>
      <mdb-row v-for="(list , index) in dataSoal" :key="index">
        <mdb-col xl="12" md="6" class="mb-r">
          <mdb-card cascade class="cascading-admin-card">
            <div class="admin-up">
              <mdb-icon icon="tasks" class="primary-color"/>
              <div class="data">
                <h4>
                  <strong>{{list.soal}}</strong>
                </h4>
                <strong>No: {{list.no_urut_soal}}</strong>
              </div>
            </div>
            <mdb-card-body>
              <!-- <mdb-btn @click="startTask(list)" outline="primary">Lihat Tugas</mdb-btn> -->
              <mdb-btn @click="modalPut(list)" outline="warning">Edit</mdb-btn>
              <mdb-btn @click="modalDelete(list)" outline="danger">delete</mdb-btn>
            </mdb-card-body>
          </mdb-card>
        </mdb-col>
      </mdb-row>
        </mdb-card>
        <!-- modal tambah tugas -->
        <mdb-modal :show="modalTambah" @close="modalTambah = false">
        <mdb-modal-header>
            <mdb-modal-title>Tambah Soal</mdb-modal-title>
        </mdb-modal-header>
        <mdb-modal-body>
            <mdb-input label="Soal" v-model="soal" class="mb-5"/>
            <!-- <span> -->
                            <file-selector
                            accept-extensions=".pdf"
                            :multiple="true"
                            :max-file-size="5 * 1024 * 1024"
                            @validated="handleFilesValidated"
                            @changed="handleFilesChanged"
                            >
                            Drop or Select Files
                            </file-selector>
                            <center>
                                <div v-if="fileSoal != ''">
                                    {{fileSoal.name}}
                                    <mdb-btn size="sm" color="info" @click="kirimFile(fileSoal)">Upload</mdb-btn>
                                    <mdb-btn size="sm" color="info" @click="deleteFile(idFile)">Delete</mdb-btn>
                                </div>
                            </center>
                        <!-- </span> -->
            <label class="mt-3" for="">Type Soal</label>
            <select class="browser-default custom-select" v-model="type_soal">
                <option value="0">Essai</option>
                <option value="1">PG</option>
            </select>
            <mdb-input v-if="type_soal == 1" label="Jawaban" v-model="jawaban" />
            <mdb-input v-if="type_soal == 1" label="Point" v-model="point" type="number" />
            <div class="row">
              <div v-for="(list,index) in tampungJawaban" :key="index">
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <p>{{list.alpha}}. {{list.jawaban}} <span class="ml-2" type="button" size="sm" @click="removeJawaban(list)"><mdb-icon icon="trash" style="color:red"></mdb-icon></span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mdb-btn v-if="type_soal == 1" color="secondary" @click="tambahJawaban(jawaban)">Add</mdb-btn>
              </div>
              <div class="col">
                <mdb-btn v-if="type_soal == 1" color="secondary" @click="simpanJawaban(tampungJawaban)">Simpan Jawaban</mdb-btn>
              </div>
            </div>
            <label class="mt-3" for="">Kunci Jawaban</label>
            <select class="browser-default custom-select" v-model="kunciJawaban">
                <option :value="list.alpha" v-for="(list,index) in tampungJawaban" :key="index">{{list.alpha}}. {{list.jawaban}}</option>
            </select>
            <mdb-input label="Nomor Urut" v-model="no_urut_soal" />
        </mdb-modal-body>
        <mdb-modal-footer>
            <mdb-btn color="secondary" @click.native="modalTambah = false">Close</mdb-btn>
            <mdb-btn color="primary" @click="tambahSoal()">Tambah</mdb-btn>
        </mdb-modal-footer>
        </mdb-modal>

        <!-- modal edit tugas -->
        <mdb-modal :show="modalEdit" @close="modalEdit = false">
        <mdb-modal-header>
            <mdb-modal-title>Edit Soal</mdb-modal-title>
        </mdb-modal-header>
        <mdb-modal-body>
            <mdb-modal-body>
            <mdb-input label="Soal" v-model="soal" class="mb-5"/>
            <span v-if="idFile == ''">
             <file-selector
                            accept-extensions=".pdf"
                            :multiple="true"
                            :max-file-size="5 * 1024 * 1024"
                            @validated="handleFilesValidated"
                            @changed="handleFilesChanged"
                            >
                            Drop or Select Files
                            </file-selector>
                            <center>
                                <div v-if="fileSoal != ''">
                                    {{fileSoal.name}}
                                    <mdb-btn size="sm" color="info" @click="kirimFile(fileSoal)">Upload</mdb-btn>
                                    <mdb-btn size="sm" color="info" @click="deleteFile(idFile)">Delete</mdb-btn>
                                </div>
                            </center>
              </span>
              <span v-else>
                <mdb-btn size="sm" color="info" @click="deleteFile(idFile)">Delete File</mdb-btn>
              </span>
              <br>
            <label class="mt-3" for="">Type Soal</label>
            <select class="browser-default custom-select" v-model="type_soal">
                <option value="0">Essai</option>
                <option value="1">PG</option>
            </select>
            <mdb-input v-if="type_soal == 1" label="Jawaban" v-model="jawaban" />
            <mdb-input v-if="type_soal == 1" label="Point" v-model="point" type="number" />
            <div class="row">
              <div v-for="(list,index) in tampungJawaban" :key="index">
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <p>{{list.alpha}}. {{list.jawaban}} <span class="ml-2" type="button" size="sm" @click="removeJawaban(list)"><mdb-icon icon="trash" style="color:red"></mdb-icon></span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mdb-btn v-if="type_soal == 1" color="secondary" @click="tambahJawaban(jawaban)">Add</mdb-btn>
              </div>
              <div class="col">
                <mdb-btn v-if="type_soal == 1" color="secondary" @click="simpanJawaban(tampungJawaban)">Simpan Jawaban</mdb-btn>
              </div>
            </div>
            <label class="mt-3" for="">Kunci Jawaban</label>
            <select class="browser-default custom-select" v-model="kunciJawaban">
                <option :value="list.alpha" v-for="(list,index) in tampungJawaban" :key="index">{{list.alpha}}. {{list.jawaban}}</option>
            </select>
            <mdb-input label="Nomor Urut" v-model="no_urut_soal" />
        </mdb-modal-body>
        </mdb-modal-body>
        <mdb-modal-footer>
            <mdb-btn color="secondary" @click.native="modalEdit = false">Close</mdb-btn>
            <mdb-btn color="primary" @click="putSoal()">Edit</mdb-btn>
        </mdb-modal-footer>
        </mdb-modal>

        <!-- modal hapus tugas -->
        <mdb-modal :show="modalHapus" @close="modalHapus = false">
        <mdb-modal-header>
            <mdb-modal-title>Delete Soal</mdb-modal-title>
        </mdb-modal-header>
        <mdb-modal-body>
            <h5>
                <label for="">Apakah anda yakin ingin menghapus soal ini?</label>
            </h5>
        </mdb-modal-body>
        <mdb-modal-footer>
            <mdb-btn color="secondary" @click.native="modalHapus = false">Close</mdb-btn>
            <mdb-btn color="primary" @click="deleteSoal()">Hapus</mdb-btn>
        </mdb-modal-footer>
        </mdb-modal>
    </section>
</template>
<script>
import { Action } from '../../store/api/types';
  import 'sweetalert2/dist/sweetalert2.css'
  import Swal from 'sweetalert2'
    import { mdbRow, mdbInput,mdbBadge,mdbCol, mdbBtn, mdbCard, mdbCardBody, mdbCardHeader, mdbCardText, mdbIcon, mdbTbl, mdbBarChart, mdbPieChart, mdbLineChart, mdbRadarChart, mdbDoughnutChart, mdbListGroup, mdbListGroupItem, mdbModal, mdbModalHeader, mdbModalTitle, mdbModalBody, mdbModalFooter } from 'mdbvue'
    export default {
  name: 'Dashboard',
  components: {
    mdbRow,
    mdbCol,
    mdbBtn,
    mdbCard,
    mdbCardBody,
    // mdbCardHeader,
    // mdbCardText,
    mdbIcon,
    // mdbBadge
    // mdbTbl,
    // mdbBarChart,
    // mdbPieChart,
    // mdbLineChart,
    // mdbRadarChart,
    // mdbDoughnutChart,
    // mdbListGroup,
    // mdbListGroupItem,
    // mdbBadge,
    mdbInput,
    mdbModal,
    mdbModalHeader,
    mdbModalTitle,
    mdbModalBody,
    mdbModalFooter
  },
  data () {
    return {
      showFrameModalTop: false,
      showFrameModalBottom: false,
      showSideModalTopRight: false,
      showSideModalTopLeft: false,
      showSideModalBottomRight: false,
      showSideModalBottomLeft: false,
      showCentralModalSmall: false,
      showCentralModalMedium: false,
      showCentralModalLarge: false,
      showCentralModalFluid: false,
      showFluidModalRight: false,
      showFluidModalLeft: false,
      showFluidModalTop: false,
      showFluidModalBottom: false,
      dataSoal:[],
      modalEdit:false,
      modalTambah:false,
      modalHapus:false,
      dataEditSoal:{},
      dataEditKunciJawaban:{},
      tampungJawabanEdit:[],
      id_pelajaran:"",
      id_kelas:"",
      id_tugas:"",
      soal:"",
      jawaban:"",
      type_soal:"",
      no_urut_soal:"",
      jawabanFinal:"",
      tampungJawaban:[],
      jawabanTrash:[],
      id_soal:"",
      fileSoal:'',
      idFile:"",
      point:"",
      kunciJawaban:"",
      alpha:[
          {
              nama:"A"
          },
          {
              nama:"B"
          },
          {
              nama:"C"
          },
          {
              nama:"D"
          },
          {
              nama:"E"
          }
      ],
      jawabanKe:0
    }
  },
  created(){
      console.log(this.alpha);
      console.log(this.$route.query.id);
      this.getSoal(this.$route.query.id);
  },
  methods:{
    async kirimFile(file){
            Swal({
            title: "Loading",
            onBeforeOpen: () => {
                Swal.showLoading();
            }
            });
          let res = await this.$store.dispatch(`${Action.postFile}`, file);
          console.log(res);
          this.idFile= await res.data.id;
          if(res.status == 200){
              Swal.close();
          } else{
                Swal({
				title: "delete file gagal "+res,
				showClass: {
					popup: "animate__animated animate__fadeInDown"
					},
				hideClass: {
					popup: "animate__animated animate__fadeOutUp"
					}
				})
          }
      },
      async deleteFile(idFile){
          Swal({
            title: "Loading",
            onBeforeOpen: () => {
                Swal.showLoading();
            }
            });
          let res = await this.$store.dispatch(`${Action.deleteFile}`, idFile);
          if(res.status == 200){
              this.fileSoal=await [];
              this.idFile= await '';
              Swal.close();
          } else{
                Swal({
				title: "delete file gagal "+res,
				showClass: {
					popup: "animate__animated animate__fadeInDown"
					},
				hideClass: {
					popup: "animate__animated animate__fadeOutUp"
					}
				})
          }
      },
    handleFilesValidated(result, files) {
      console.log('Validation result: ' + result);
      console.log(files);
      // this.fileSoal = files;
    },
 
    handleFilesChanged(files) {
      console.log(files[0]);
      console.log('Selected files: ');
      console.table(files[0].name);
      console.log(files);
      this.fileSoal = files[0];
      console.log(this.fileSoal);
    },
      async tambahJawaban(data){
        if(this.jawabanTrash.length == 0){
          this.tampungJawaban.push({
          alpha:this.alpha[this.jawabanKe].nama,
          code:this.jawabanKe,
          jawaban:data
          });
          this.jawabanKe=this.jawabanKe+1;
          this.jawaban="";  
        } else{
          this.tampungJawaban.push({
          alpha:this.alpha[this.jawabanTrash[0].index].nama,
          code:this.jawabanTrash[0].index,
          jawaban:data
          });
          this.jawabanTrash = await this.jawabanTrash.filter(fl => fl.index !== this.jawabanTrash[0].index);
          this.jawaban="";
        }
      },
      async removeJawaban(data){
        console.log(data);
        this.jawabanTrash.push({index:data.code});
        this.tampungJawaban = await this.tampungJawaban.filter(fl => fl.code !== data.code);
      },
      async simpanJawaban(data){
        this.jawabanFinal="";
        let alpha="";
        let jawaban="";
        let filterData=[];
        this.jawabanTrash=[];
        console.log(this.jawabanFinal);
        for(var i=0;i<data.length;i++){
          if(this.jawabanFinal.length == 0){
              console.log(data);
              console.log(data.filter(fl => fl.code === i));
              filterData = await data.filter(fl => fl.code === i)
              console.log(filterData[0].alpha);
              alpha = await filterData[0].alpha;
              jawaban = await filterData[0].jawaban
              this.jawabanFinal= await alpha+'. '+jawaban;
              console.log(this.jawabanFinal);
          } else {
              filterData = await data.filter(fl => fl.code === i)
              alpha = await filterData[0].alpha;
              jawaban = await filterData[0].jawaban
              this.jawabanFinal= await this.jawabanFinal+";"+alpha+'. '+jawaban;
              // this.jawabanFinal=this.jawabanFinal+";"+this.alpha[this.jawabanKe].nama+'. '+data;
          }
        }
        
          // this.jawabanKe=this.jawabanKe+1;
          console.log(this.jawabanFinal);
          // console.log(this.jawabanKe);
      },
      modalDelete(data){
          this.id_soal=data.id_soal
          this.modalHapus=true;
      },
      async deleteSoal(){
          Swal({
          title: "Loading",
          onBeforeOpen: () => {
            Swal.showLoading();
          }
        });
          let res = await this.$store.dispatch(`${Action.deleteSoal}`, this.id_soal);
          if(res.status == 200){
            Swal.close();
            this.dataSoal= await [];
            this.getSoal(this.$route.query.id);
            this.modalHapus= await false;
          } else{
            Swal.close();
            Swal({
							title: "delete data gagal "+res,
							showClass: {
								popup: "animate__animated animate__fadeInDown"
							},
							hideClass: {
								popup: "animate__animated animate__fadeOutUp"
							}
						})
          }
      },
      async modalPut(data){
          let res = await this.$store.dispatch(`${Action.getKunciJawabanByIdSoal}`, data.id_soal);
          console.log(res);
          console.log(data);
          if(res.status == 200){
            this.modalEdit= await true;
            this.dataEditSoal=await data;
            this.dataEditKunciJawaban = await {
              id_kunci_jawaban:res.data[0].id_kunci_jawaban,
              jawaban:res.data[0].jawaban,
            }
            this.id_soal=await data.id_soal;
            this.soal= await data.soal;
            this.no_urut_soal= await data.no_urut_soal;
            this.type_soal= await data.type_soal;
            this.kunciJawaban= await res.data[0].jawaban;
            this.point= await data.point;
            if(data.file == null){
              this.idFile= await '';
            } else {
              this.idFile= await data.file;
            }
            console.log(this.idFile);
            let splitJawaban = await data.jawaban.split(";");
            // let pecahJawaban = [];
            // for(var j=0;j<splitJawaban.length;j++){
            //   pecahJawaban = await splitJawaban[j].split(".")
            // }
            // console.log(splitJawaban);
            this.tampungJawaban=await[];
            console.log(splitJawaban);
            await this.ekstrakJawaban(splitJawaban,data.jawaban)
          } else {
            Swal({
							title: "get data kunci jawaban gagal "+res,
							showClass: {
								popup: "animate__animated animate__fadeInDown"
							},
							hideClass: {
								popup: "animate__animated animate__fadeOutUp"
							}
						})
          }
      },
      async ekstrakJawaban(splitJawaban,data){
        console.log(splitJawaban);
        if(data.length !=0){
          for(var i=0;i<splitJawaban.length;i++){
                console.log(splitJawaban[i]);
                if(this.tampungJawaban.length == 0){
                  this.tampungJawaban=[{
                  alpha:splitJawaban[i].substring(0,1),
                  code:i,
                  jawaban:splitJawaban[i].substring(3)
                  }]; 
                } else {
                  this.tampungJawaban.push({
                  alpha:splitJawaban[i].substring(0,1),
                  code:i,
                  jawaban:splitJawaban[i].substring(3)
                  }); 
                }
                // if(i == splitJawaban.length-1){
                //   this.tampungJawaban= await this.tampungJawabanEdit;
                // }
            } 
        }
            console.log(this.tampungJawaban);
      },
      async putSoal(){
          Swal({
          title: "Loading",
          onBeforeOpen: () => {
            Swal.showLoading();
          }
        });
        let isi ={
            id_soal:this.id_soal,
            soal:this.soal,
            jawaban:this.jawabanFinal,
            type_soal:this.type_soal,
            no_urut_soal:this.no_urut_soal,
            kunci:this.kunciJawaban,
            file:this.idFile,
            point:this.point
        }
          let res = await this.$store.dispatch(`${Action.putSoal}`, isi);
          if(res.status == 200){
            Swal.close();
            this.dataSoal= await [];
            this.getSoal(this.$route.query.id);
            this.id_pelajaran="";
            this.id_kelas="";
            this.id_tugas="";
            this.soal=""
            this.jawaban="";
            this.type_soal="";
            this.no_urut_soal="";
            this.jawabanFinal="";
            this.kunciJawaban="";
            this.idFile='';
            this.jawabanKe=0;
            this.point="";
            this.modalEdit= await false;
          } else{
            this.dataSoal= await [];
            this.getSoal(this.$route.query.id);
            this.id_pelajaran="";
            this.id_kelas="";
            this.id_tugas="";
            this.soal=""
            this.jawaban="";
            this.type_soal="";
            this.no_urut_soal="";
            this.jawabanFinal="";
            this.kunciJawaban="";
            this.idFile='';
            this.jawabanKe=0;
            this.point="";
            this.modalEdit= await false;
            Swal.close();
            Swal({
							title: "update data gagal "+res,
							showClass: {
								popup: "animate__animated animate__fadeInDown"
							},
							hideClass: {
								popup: "animate__animated animate__fadeOutUp"
							}
						})
          }
      },
      async modalAdd(){
        this.id_pelajaran="";
            this.id_kelas="";
            this.id_tugas="";
            this.soal=""
            this.jawaban="";
            this.type_soal="";
            this.no_urut_soal="";
            this.jawabanFinal="";
            this.kunciJawaban="";
            this.jawabanKe=0;
            this.tampungJawaban=[];
            this.modalTambah=true;
            console.log(this.fileSoal);
      },
      async tambahSoal(){
        console.log(this.point);
          Swal({
          title: "Loading",
          onBeforeOpen: () => {
            Swal.showLoading();
          }
        });
        let isi ={
            id_kelas:this.$route.query.id_kelas,
            id_tugas:this.$route.query.id,
            soal:this.soal,
            jawaban:this.jawabanFinal,
            type_soal:this.type_soal,
            no_urut_soal:this.no_urut_soal,
            kunci:this.kunciJawaban,
            file:this.idFile,
            point:this.point,
            id_mapel:this.$route.query.id_mapel
        }
          let res = await this.$store.dispatch(`${Action.postSoal}`, isi);
          if(res.status == 200){
            Swal.close();
            this.dataSoal= await [];
            this.getSoal(this.$route.query.id);
            this.modalTambah= await false;
            this.id_pelajaran="";
            this.id_kelas="";
            this.id_tugas="";
            this.soal=""
            this.jawaban="";
            this.type_soal="";
            this.no_urut_soal="";
            this.jawabanFinal="";
            this.kunciJawaban="";
            this.jawabanKe=0;
            this.idFile="";
            this.fileSoal=[];
            this.point="";
          } else{
            this.modalTambah= await false;
            this.point="";
            this.id_pelajaran="";
            this.id_kelas="";
            this.id_tugas="";
            this.soal=""
            this.jawaban="";
            this.type_soal="";
            this.no_urut_soal="";
            this.jawabanFinal="";
            this.jawabanKe=0;
            this.kunciJawaban="";
            this.idFile="";
            this.fileSoal=[];
            Swal.close();
            Swal({
							title: "tambah data gagal "+res,
							showClass: {
								popup: "animate__animated animate__fadeInDown"
							},
							hideClass: {
								popup: "animate__animated animate__fadeOutUp"
							}
						})
          }

      },
      pageLink(data){
        console.log(data);
        // let isi = {
        //   id:data.id_nama_tugas,
        //   id_kelas:this.$route.query.id_kelas,
        //   nama_tugas:data.nama_tugas,
        //   durasi:data.durasi
        // }
        // this.$router.push({path: "/jawabSoal", query:{id:data.id_nama_tugas,id_kelas:this.$route.query.id_kelas}});
      },
      async startTask(data){
        console.log(data);
        // let res = await this.$store.dispatch(`${Action.postStatusTugas}`, data);
        // if(res.status == 200){
          this.pageLink(data);
        // } else {
        //   Swal({
				// 			title: "Gagal post data "+res,
				// 			showClass: {
				// 				popup: "animate__animated animate__fadeInDown"
				// 			},
				// 			hideClass: {
				// 				popup: "animate__animated animate__fadeOutUp"
				// 			}
				// 		})
        // }
      },
      async getSoal(id){
        Swal({
          title: "Loading",
          onBeforeOpen: () => {
            Swal.showLoading();
          }
        });
        console.log(id);
        let isi ={
          id_nama_tugas:this.$route.query.id,
          id_kelas:this.$route.query.id_kelas
        }
          let res = await this.$store.dispatch(`${Action.getSoalByIdTugas}`, isi);
          console.log(res);
          if(res.status == 200){
            Swal.close();
            this.dataSoal= await res.data.reverse();
          } else{
            Swal.close();
            Swal({
							title: "Memuat Data Gagal "+res,
							showClass: {
								popup: "animate__animated animate__fadeInDown"
							},
							hideClass: {
								popup: "animate__animated animate__fadeOutUp"
							}
						})
          }
      }
  }
  
}
</script>
<style scoped>
.cascading-admin-card {
  margin: 20px 0;
}
.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}
.cascading-admin-card .admin-up .fas,
.cascading-admin-card .admin-up .far {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
  padding: 1.7rem;
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-right: 1rem;
  border-radius: 3px;
}
.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}
.admin-up .data p {
  color: #999999;
  font-size: 12px;
}
.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}
</style>
