<template>
    <div>
        <mdb-card>
            <h3 class="p-3">
                <strong>Nilai Siswa</strong>
            </h3>
                  <mdb-card-body>
                      <mdb-tbl hover>
                          <thead class="blue-grey lighten-4">
                              <tr>
                                  <th>No</th>
                                  <th>NIS</th>
                                  <th>Nama</th>
                                  <th>Nilai PG</th>
                                  <th>Nilai Keseluruhan</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody >
                              <tr v-for="(list,index) in listData" :key="index">
                                  <th scope="row">{{index+1}}</th>
                                  <td>{{list.siswa.nis}}</td>
                                  <td>{{list.siswa.nama_siswa}}</td>
                                  <td>{{list.nilai.nilai_pg}}</td>
                                  <td>{{list.nilai.nilai_keseluruhan}}</td>
                                  <td>
                                      <div class="row">
                                          <div class="col">
                                              <mdb-btn class="mr-3" tag="a" color="blue" floating size="lg" @click="openEdit(list)" ><mdb-icon style="color:white" icon="info" /></mdb-btn>
                                              <mdb-btn class="mr-3" tag="a" color="yellow" floating size="lg" @click="openModelNilaiKeseluruhan(list)" ><mdb-icon style="color:white" icon="edit" /></mdb-btn>
                                          </div>
                                      </div>
                                  </td>
                              </tr>
                          </tbody>
                      </mdb-tbl>
                  </mdb-card-body>
              </mdb-card>

              <!-- modal edit nilai -->
        <mdb-modal :show="modalNilai" @close="modalNilai = false">
        <mdb-modal-header>
            <mdb-modal-title>Edit Nilai Keseluruhan</mdb-modal-title>
        </mdb-modal-header>
        <mdb-modal-body>
            <mdb-input label="Nilai Keseluruhan" v-model="nilai_keseluruhan" class="mb-5"/>
        </mdb-modal-body>
        <mdb-modal-footer>
            <mdb-btn color="secondary" @click.native="modalNilai = false">Close</mdb-btn>
            <mdb-btn color="primary" @click="putNilaiKeseluruhan()">Edit</mdb-btn>
        </mdb-modal-footer>
        </mdb-modal>

    </div>
</template>
<script>
import moment from 'moment';
import { mdbRow, mdbCol, mdbBtn, mdbCard, mdbCardBody, mdbIcon, mdbTbl, mdbBarChart, mdbBadge, mdbModal, mdbModalHeader, mdbModalTitle, mdbModalBody, mdbModalFooter, mdbInput } from 'mdbvue'
import { Action } from '../../store/api/types';
import 'sweetalert2/dist/sweetalert2.css';
import VDatePicker from 'v-calendar/lib/components/date-picker.umd'
import Swal from 'sweetalert2'
export default {
    components:{
        mdbTbl,
        mdbBtn,
        mdbCard,
        mdbCardBody,
        mdbInput,
        mdbIcon,
    mdbModal,
    mdbModalHeader,
    mdbModalTitle,
    mdbModalBody,
    mdbModalFooter
    },
    data(){
        return{
            masks: {
                input: 'YYYY-MM-DD h:mm A',
                weekdays: 'WWW',
            },
            modalTambah:false,
            modalEdit:false,
            modalEditPass:false,
            modalDelete:false,
            listData:[],
            tempat:"",
            tgl_lahir:"",
            listKelas:[],
            id_kelas:"",
            modalNilai:false,
            dataUntukNilai:[],
            nilai_keseluruhan:"",
            tampungData:
                {
                    "id_siswa":"",
                    "id_akun":"",
                    "nis": "",
                    "nama_siswa": "",
                    "id_kelas":"",
                    "password": "",
                },
        }
    },
    created(){
        this.get();
        // this.getKelas();
    },
    watch:{

    },
    methods:{
        async openModelNilaiKeseluruhan(data){
            console.log(data);
            this.modalNilai=await true;
            this.dataUntukNilai= await data;
            this.nilai_keseluruhan= await data.nilai.nilai_keseluruhan;

        },
        async putNilaiKeseluruhan(){
            Swal({
                title: "Loading",
                onBeforeOpen: () => {
                    Swal.showLoading();
                }
                });
                // let res=[];
                let body = await {
                    id_siswa:this.dataUntukNilai.nilai.id_siswa,
                    id_tugas:this.dataUntukNilai.nilai.id_tugas,
                    nilai_keseluruhan:this.nilai_keseluruhan
                }
            let res = await this.$store.dispatch(`${Action.putNilaiKeseluruhan}`,body);
            console.log(this.tampungData);
            if(res.status == 200){
                        Swal.close();
                        this.modalNilai=false;
                        this.dataUntukNilai=[];
                        this.get();
                    }else {
                        Swal.close();
                        Swal({
                                        title: "Memuat Data Gagal "+res,
                                        showClass: {
                                            popup: "animate__animated animate__fadeInDown"
                                        },
                                        hideClass: {
                                            popup: "animate__animated animate__fadeOutUp"
                                        }
                                    })
                    }
        },
        async openEdit(data){
            console.log(data);
            this.$router.push({path: 'manajemenNilaiSiswa', query:{id:data.nilai.id_tugas,id_siswa:data.siswa.id_siswa,id_kelas:data.siswa.id_kelas}});
        },
        async tambah(){
            Swal({
                title: "Loading",
                onBeforeOpen: () => {
                    Swal.showLoading();
                }
                });
                console.log(this.tampungData);
            let res = await this.$store.dispatch(`${Action.registerSiswa}`,this.tampungData);
            if(res.status == 200){
                        Swal.close();
                        this.modalTambah=false;
                        this.tampungData={};
                        this.get();
                    }else {
                        Swal.close();
                        Swal({
                                        title: "Memuat Data Gagal "+res,
                                        showClass: {
                                            popup: "animate__animated animate__fadeInDown"
                                        },
                                        hideClass: {
                                            popup: "animate__animated animate__fadeOutUp"
                                        }
                                    })
                    }
            // this.tampungData.mata_pelajaran =await
        },
        async getKelas(){
            Swal({
            title: "Loading",
            onBeforeOpen: () => {
                Swal.showLoading();
            }
            });
            let res = await this.$store.dispatch(`${Action.getAllKelas}`);
            if(res.status == 200){
                Swal.close();
                this.listKelas=res.data;
            }else {
                Swal.close();
                Swal({
                                title: "Memuat Data Gagal "+res,
                                showClass: {
                                    popup: "animate__animated animate__fadeInDown"
                                },
                                hideClass: {
                                    popup: "animate__animated animate__fadeOutUp"
                                }
                            })
            }
        },
        async openModalTambah(){
            this.modalTambah=true;
        },
        async get(){
            Swal({
            title: "Loading",
            onBeforeOpen: () => {
                Swal.showLoading();
            }
            });
            let body ={
                id_kelas:this.$route.query.id_kelas,
                id_tugas:this.$route.query.id_tugas,
                id_mapel:this.$route.query.id_mapel
            }
            console.log(body);
            let res = await this.$store.dispatch(`${Action.getNialiByIdKelasIdMapelIdTugas}`,body);
            console.log(res);
            if(res.status == 200){
                Swal.close();
                this.listData=res.data;
            }else {
                Swal.close();
                Swal({
                                title: "Memuat Data Gagal "+res,
                                showClass: {
                                    popup: "animate__animated animate__fadeInDown"
                                },
                                hideClass: {
                                    popup: "animate__animated animate__fadeOutUp"
                                }
                            })
            }
            console.log(res);
        },
    }
}
</script>