<template>
    <section class="mt-lg-1">
        <mdb-card class="p-5">
            <h2 class="h1-responsive font-weight-bold my-5">Daftar Ujian</h2>
        <mdb-btn class="mb-5" @click.native="modalTambah = true" outline="primary">Tambah Ujian</mdb-btn>
      <mdb-row v-for="(list , index) in dataTugas" :key="index">
        <mdb-col xl="12" md="6" class="mb-r">
          <mdb-card cascade class="cascading-admin-card">
            <div class="admin-up">
              <mdb-icon icon="tasks" class="primary-color"/>
              <div class="data">
                <h4>
                  <strong>{{list.nama_tugas}}</strong>
                </h4>
              </div>
            </div>
            <mdb-card-body>
              <mdb-btn @click="startTask(list)" outline="primary">Lihat Ujian</mdb-btn>
              <mdb-btn @click="viewNilai(list)" outline="success">Lihat Nilai Siswa</mdb-btn>
              <mdb-btn @click="modalPut(list)" outline="warning">Edit</mdb-btn>
              <mdb-btn @click="modalDelete(list)" outline="danger">delete</mdb-btn>
            </mdb-card-body>
          </mdb-card>
        </mdb-col>
      </mdb-row>
        </mdb-card>
        <!-- modal tambah tugas -->
        <mdb-modal :show="modalTambah" @close="modalTambah = false">
        <mdb-modal-header>
            <mdb-modal-title>Tambah Ujian</mdb-modal-title>
        </mdb-modal-header>
        <mdb-modal-body>
            <mdb-input label="Nama Ujian" v-model="nama_tugas" class="mb-5"/>
            <mdb-input label="Durasi (Dalam Satuan Menit)" v-model="durasi" />
        </mdb-modal-body>
        <mdb-modal-footer>
            <mdb-btn color="secondary" @click.native="modalTambah = false">Close</mdb-btn>
            <mdb-btn color="primary" @click="tambahTugas()">Tambah</mdb-btn>
        </mdb-modal-footer>
        </mdb-modal>

        <!-- modal edit tugas -->
        <mdb-modal :show="modalEdit" @close="modalEdit = false">
        <mdb-modal-header>
            <mdb-modal-title>Edit Ujian</mdb-modal-title>
        </mdb-modal-header>
        <mdb-modal-body>
            <mdb-input label="Nama Ujian" v-model="nama_tugas" class="mb-5"/>
            <mdb-input label="Durasi (Dalam Satuan Menit)" v-model="durasi" />
        </mdb-modal-body>
        <mdb-modal-footer>
            <mdb-btn color="secondary" @click.native="modalEdit = false">Close</mdb-btn>
            <mdb-btn color="primary" @click="putTugas()">Edit</mdb-btn>
        </mdb-modal-footer>
        </mdb-modal>

        <!-- modal hapus tugas -->
        <mdb-modal :show="modalHapus" @close="modalHapus = false">
        <mdb-modal-header>
            <mdb-modal-title>Delete Ujian</mdb-modal-title>
        </mdb-modal-header>
        <mdb-modal-body>
            <h5>
                <label for="">Apakah anda yakin ingin menghapus Ujian ini?</label>
            </h5>
        </mdb-modal-body>
        <mdb-modal-footer>
            <mdb-btn color="secondary" @click.native="modalHapus = false">Close</mdb-btn>
            <mdb-btn color="primary" @click="deleteTugas()">Hapus</mdb-btn>
        </mdb-modal-footer>
        </mdb-modal>
    </section>
</template>
<script>
import { Action } from '../../store/api/types';
  import 'sweetalert2/dist/sweetalert2.css'
  import Swal from 'sweetalert2'
    import { mdbRow, mdbInput,mdbBadge,mdbCol, mdbBtn, mdbCard, mdbCardBody, mdbCardHeader, mdbCardText, mdbIcon, mdbTbl, mdbBarChart, mdbPieChart, mdbLineChart, mdbRadarChart, mdbDoughnutChart, mdbListGroup, mdbListGroupItem, mdbModal, mdbModalHeader, mdbModalTitle, mdbModalBody, mdbModalFooter } from 'mdbvue'
    export default {
  name: 'Dashboard',
  components: {
    mdbRow,
    mdbCol,
    mdbBtn,
    mdbCard,
    mdbCardBody,
    // mdbCardHeader,
    // mdbCardText,
    mdbIcon,
    // mdbBadge
    // mdbTbl,
    // mdbBarChart,
    // mdbPieChart,
    // mdbLineChart,
    // mdbRadarChart,
    // mdbDoughnutChart,
    // mdbListGroup,
    // mdbListGroupItem,
    // mdbBadge,
    mdbInput,
    mdbModal,
    mdbModalHeader,
    mdbModalTitle,
    mdbModalBody,
    mdbModalFooter
  },
  data () {
    return {
      showFrameModalTop: false,
      showFrameModalBottom: false,
      showSideModalTopRight: false,
      showSideModalTopLeft: false,
      showSideModalBottomRight: false,
      showSideModalBottomLeft: false,
      showCentralModalSmall: false,
      showCentralModalMedium: false,
      showCentralModalLarge: false,
      showCentralModalFluid: false,
      showFluidModalRight: false,
      showFluidModalLeft: false,
      showFluidModalTop: false,
      showFluidModalBottom: false,
      dataTugas:[],
      modalEdit:false,
      modalTambah:false,
      modalHapus:false,
      nama_tugas:"",
      id_mapel:"",
      durasi:"",
      id_nama_tugas:""
    }
  },
  created(){
      console.log(this.$route.query.id);
      this.getTugas(this.$route.query.id);
  },
  methods:{
    viewNilai(data){
        this.$router.push({path: "/manajemenNilai", query:{id_tugas:data.id_nama_tugas,id_kelas:data.id_kelas,id_mapel:data.id_mapel}});
      },
      modalDelete(data){
          this.id_nama_tugas=data.id_nama_tugas
          this.modalHapus=true;
      },
      async deleteTugas(){
          Swal({
          title: "Loading",
          onBeforeOpen: () => {
            Swal.showLoading();
          }
        });
          let res = await this.$store.dispatch(`${Action.deleteTugas}`, this.id_nama_tugas);
          if(res.status == 200){
            Swal.close();
            this.dataTugas= await [];
            this.getTugas(this.$route.query.id);
            this.modalHapus= await false;
          } else{
            Swal.close();
            Swal({
							title: "update data gagal "+res,
							showClass: {
								popup: "animate__animated animate__fadeInDown"
							},
							hideClass: {
								popup: "animate__animated animate__fadeOutUp"
							}
						})
          }
      },
      modalPut(data){
          this.modalEdit=true;
          this.nama_tugas=data.nama_tugas;
          this.durasi=data.durasi;
          this.id_nama_tugas=data.id_nama_tugas;
          console.log(data);
      },
      async putTugas(){
          Swal({
          title: "Loading",
          onBeforeOpen: () => {
            Swal.showLoading();
          }
        });
        let isi ={
          nama_tugas:this.nama_tugas,
          durasi:this.durasi,
          id_nama_tugas:this.id_nama_tugas
        }
          let res = await this.$store.dispatch(`${Action.putTugas}`, isi);
          if(res.status == 200){
            Swal.close();
            this.dataTugas= await [];
            this.getTugas(this.$route.query.id);
            this.modalEdit= await false;
          } else{
            Swal.close();
            Swal({
							title: "update data gagal "+res,
							showClass: {
								popup: "animate__animated animate__fadeInDown"
							},
							hideClass: {
								popup: "animate__animated animate__fadeOutUp"
							}
						})
          }
      },
      async tambahTugas(){
          Swal({
          title: "Loading",
          onBeforeOpen: () => {
            Swal.showLoading();
          }
        });
        let isi ={
          nama_tugas:this.nama_tugas,
          durasi:this.durasi,
          status_tugas:2,
          id_kelas:this.$route.query.id,
          id_mapel:this.$route.query.id_mapel,
        }
          let res = await this.$store.dispatch(`${Action.postTugas}`, isi);
          if(res.status == 200){
            Swal.close();
            this.dataTugas= await [];
            this.getTugas(this.$route.query.id);
            this.modalTambah= await false;
          } else{
            Swal.close();
            Swal({
							title: "tambah data gagal "+res,
							showClass: {
								popup: "animate__animated animate__fadeInDown"
							},
							hideClass: {
								popup: "animate__animated animate__fadeOutUp"
							}
						})
          }

      },
      pageLink(data){
        console.log(data);
        let isi = {
          id:data.id_nama_tugas,
          id_kelas:this.$route.query.id_kelas,
          nama_tugas:data.nama_tugas,
          durasi:data.durasi
        }
        this.$router.push({path: "/listSoal", query:{id:data.id_nama_tugas,id_kelas:data.id_kelas,id_mapel:data.id_mapel}});
      },
      async startTask(data){
        console.log(data);
        // let res = await this.$store.dispatch(`${Action.postStatusTugas}`, data);
        // if(res.status == 200){
          this.pageLink(data);
        // } else {
        //   Swal({
				// 			title: "Gagal post data "+res,
				// 			showClass: {
				// 				popup: "animate__animated animate__fadeInDown"
				// 			},
				// 			hideClass: {
				// 				popup: "animate__animated animate__fadeOutUp"
				// 			}
				// 		})
        // }
      },
      async getTugas(id){
        Swal({
          title: "Loading",
          onBeforeOpen: () => {
            Swal.showLoading();
          }
        });
        console.log(id);
        let isi ={
          id:this.$route.query.id,
          status:2,
          id_mapel:this.$route.query.id_mapel,
        }
          let res = await this.$store.dispatch(`${Action.getTugasByIdKelasAndMapel}`, isi);
          console.log(res);
          if(res.status == 200){
            Swal.close();
            this.dataTugas= await res.data.reverse();
          } else{
            Swal.close();
            Swal({
							title: "Memuat Data Gagal "+res,
							showClass: {
								popup: "animate__animated animate__fadeInDown"
							},
							hideClass: {
								popup: "animate__animated animate__fadeOutUp"
							}
						})
          }
      }
  }
  
}
</script>
<style scoped>
.cascading-admin-card {
  margin: 20px 0;
}
.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}
.cascading-admin-card .admin-up .fas,
.cascading-admin-card .admin-up .far {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
  padding: 1.7rem;
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-right: 1rem;
  border-radius: 3px;
}
.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}
.admin-up .data p {
  color: #999999;
  font-size: 12px;
}
.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}
</style>
