<template>
    <section class="mt-lg-1">
        <h2 class="h1-responsive font-weight-bold my-5">Daftar Mata Pelajaran</h2>
      <mdb-row>
        <mdb-col v-for="(list , index) in dataPel" :key="index" xl="3" md="6" class="mb-r">
          <mdb-card cascade class="cascading-admin-card">
            <div class="admin-up">
              <mdb-icon icon="chalkboard-teacher" class="primary-color"/>
              <div class="data">
                <h4>
                  <strong>{{list.nama_mapel}}</strong>
                </h4>
              </div>
            </div>
            <mdb-card-body>
              <!-- <div class="progress">
                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-primary" role="progressbar"
                  style="width: 25%"></div>
              </div>
              <mdb-card-text>Better than last week (25%)</mdb-card-text> -->
              <mdb-btn outline="primary" @click="pageLink(list)">Lihat Materi</mdb-btn>
            </mdb-card-body>
          </mdb-card>
        </mdb-col>
      </mdb-row>
    </section>
</template>
<script>
import { Action } from '../../../store/api/types';
  import 'sweetalert2/dist/sweetalert2.css'
  import Swal from 'sweetalert2'
    import { mdbRow, mdbCol, mdbBtn, mdbCard, mdbCardBody, mdbCardHeader, mdbCardText, mdbIcon, mdbTbl, mdbBarChart, mdbPieChart, mdbLineChart, mdbRadarChart, mdbDoughnutChart, mdbListGroup, mdbListGroupItem, mdbBadge, mdbModal, mdbModalHeader, mdbModalTitle, mdbModalBody, mdbModalFooter } from 'mdbvue'
    export default {
  name: 'Dashboard',
  components: {
    mdbRow,
    mdbCol,
    mdbBtn,
    mdbCard,
    mdbCardBody,
    // mdbCardHeader,
    // mdbCardText,
    mdbIcon,
    // mdbTbl,
    // mdbBarChart,
    // mdbPieChart,
    // mdbLineChart,
    // mdbRadarChart,
    // mdbDoughnutChart,
    // mdbListGroup,
    // mdbListGroupItem,
    // mdbBadge,
    // mdbModal,
    // mdbModalHeader,
    // mdbModalTitle,
    // mdbModalBody,
    // mdbModalFooter
  },
  data () {
    return {
      showFrameModalTop: false,
      showFrameModalBottom: false,
      showSideModalTopRight: false,
      showSideModalTopLeft: false,
      showSideModalBottomRight: false,
      showSideModalBottomLeft: false,
      showCentralModalSmall: false,
      showCentralModalMedium: false,
      showCentralModalLarge: false,
      showCentralModalFluid: false,
      showFluidModalRight: false,
      showFluidModalLeft: false,
      showFluidModalTop: false,
      showFluidModalBottom: false,
      dataPel:[]
    }
  },
  created(){
      this.getMapel();
  },
  methods:{
      pageLink(data){
        this.$router.push({path: "/pageListMateri", query:{id:data.id_master_mapel, id_kelas:data.id_kelas}});
      },
      async getMapel(){
          let id= await localStorage.getItem("id_kelas")
          let res = await this.$store.dispatch(`${Action.getMapelByidKelas}`, id);
          console.log(res);
          this.dataPel= await res.data;
      }
  }
  
}
</script>
<style scoped>
.cascading-admin-card {
  margin: 20px 0;
}
.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}
.cascading-admin-card .admin-up .fas,
.cascading-admin-card .admin-up .far {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
  padding: 1.7rem;
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-right: 1rem;
  border-radius: 3px;
}
.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}
.admin-up .data p {
  color: #999999;
  font-size: 12px;
}
.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}
</style>
