<template>
    <section class="mt-lg-1">
        <mdb-card class="p-5">
            <h2 class="h1-responsive font-weight-bold my-5">Daftar Materi</h2>
      <mdb-row v-for="(list , index) in dataMateri" :key="index">
        <mdb-col xl="12" md="6" class="mb-r">
          <mdb-card cascade class="cascading-admin-card">
            <div class="admin-up">
              <mdb-icon icon="tasks" class="primary-color"/>
              <div class="data">
                <h4>
                  <strong>{{list.judul}}</strong>
                </h4>
              </div>
            </div>
            <mdb-card-body>
              <!-- <mdb-btn @click="startTask(list)" outline="primary">Lihat Siswa</mdb-btn> -->
              <mdb-btn @click="modalView(list)" outline="info">view</mdb-btn>
              <!-- <mdb-btn @click="modalDelete(list)" outline="danger">delete</mdb-btn> -->
            </mdb-card-body>
          </mdb-card>
        </mdb-col>
      </mdb-row>
        </mdb-card>

        <!-- modal edit materi -->
        <mdb-modal size="lg" :show="modalEdit" @close="modalEdit = false">
        <mdb-modal-header>
            <mdb-modal-title>Materi</mdb-modal-title>
        </mdb-modal-header>
        <mdb-modal-body>
            <label for=""><h5>{{judul_materi}}</h5></label>
            <div v-if="fileMateriEdit != null && fileMateriEdit != ''">
                        <iframe :src="'http://backendrest.e-learningsmpn110jakarta.my.id/controller/dokumen/'+fileMateriEdit" style="width:718px; height:700px;" frameborder="0"></iframe>
                    </div>
        </mdb-modal-body>
        <mdb-modal-footer>
            <mdb-btn color="secondary" @click.native="modalEdit = false">Close</mdb-btn>
            <!-- <mdb-btn color="primary" @click="putMateri()">Edit</mdb-btn> -->
        </mdb-modal-footer>
        </mdb-modal>

    </section>
</template>
<script>
import { Action } from '../../../store/api/types';
  import 'sweetalert2/dist/sweetalert2.css'
  import Swal from 'sweetalert2'
    import { mdbRow, mdbInput,mdbBadge,mdbCol, mdbBtn, mdbCard, mdbCardBody, mdbCardHeader, mdbCardText, mdbIcon, mdbTbl, mdbBarChart, mdbPieChart, mdbLineChart, mdbRadarChart, mdbDoughnutChart, mdbListGroup, mdbListGroupItem, mdbModal, mdbModalHeader, mdbModalTitle, mdbModalBody, mdbModalFooter } from 'mdbvue'
    export default {
  name: 'Dashboard',
  components: {
    mdbRow,
    mdbCol,
    mdbBtn,
    mdbCard,
    mdbCardBody,
    // mdbCardHeader,
    // mdbCardText,
    mdbIcon,
    // mdbBadge
    // mdbTbl,
    // mdbBarChart,
    // mdbPieChart,
    // mdbLineChart,
    // mdbRadarChart,
    // mdbDoughnutChart,
    // mdbListGroup,
    // mdbListGroupItem,
    // mdbBadge,
    // mdbInput,
    mdbModal,
    mdbModalHeader,
    mdbModalTitle,
    mdbModalBody,
    mdbModalFooter
  },
  data () {
    return {
      showFrameModalTop: false,
      showFrameModalBottom: false,
      showSideModalTopRight: false,
      showSideModalTopLeft: false,
      showSideModalBottomRight: false,
      showSideModalBottomLeft: false,
      showCentralModalSmall: false,
      showCentralModalMedium: false,
      showCentralModalLarge: false,
      showCentralModalFluid: false,
      showFluidModalRight: false,
      showFluidModalLeft: false,
      showFluidModalTop: false,
      showFluidModalBottom: false,
      dataMateri:[],
      modalEdit:false,
      modalTambah:false,
      modalHapus:false,
      judul_materi:"",
      durasi:"",
      id_materi:"",
      fileMateri:'',
      fileMateriEdit:'',
      fileNameOriginal:''
    }
  },
  created(){
      console.log(this.$route.query.id);
      this.getMateri(this.$route.query.id);
  },
  methods:{
      async deleteFile(){
          this.fileMateri= await '';
      },
      handleFilesValidated(result, files) {
      console.log('Validation result: ' + result);
      console.log(files);
      // this.fileSoal = files;
    },
    handleFilesChanged(files) {
      console.log(files[0]);
      console.log('Selected files: ');
      console.table(files[0].name);
      console.log(files);
      this.fileMateri = files[0];
    },
      modalDelete(data){
          this.id_materi=data.id_materi
          this.modalHapus=true;
      },
      async deleteMateri(){
          Swal({
          title: "Loading",
          onBeforeOpen: () => {
            Swal.showLoading();
          }
        });
          let res = await this.$store.dispatch(`${Action.deleteMateri}`, this.id_materi);
          if(res.status == 200){
            Swal.close();
            this.dataMateri= await [];
            this.getMateri(this.$route.query.id);
            this.modalHapus= await false;
          } else{
            Swal.close();
            Swal({
							title: "update data gagal "+res,
							showClass: {
								popup: "animate__animated animate__fadeInDown"
							},
							hideClass: {
								popup: "animate__animated animate__fadeOutUp"
							}
						})
          }
      },
      modalView(data){
          this.modalEdit=true;
          this.judul_materi=data.judul;
          this.fileMateriEdit=data.nama_file;
          this.fileNameOriginal=data.original_name;
          this.id_materi=data.id_materi;
          console.log(data);
      },
      async putMateri(){
          Swal({
          title: "Loading",
          onBeforeOpen: () => {
            Swal.showLoading();
          }
        });
        let isi ={
          judul:this.judul_materi,
          file:this.fileMateri,
          id_materi:this.id_materi
        }
          let res = await this.$store.dispatch(`${Action.putMateri}`, isi);
          if(res.status == 200){
            Swal.close();
            this.dataMateri= await [];
            this.getMateri(this.$route.query.id);
            this.modalEdit= await false;
            this.fileMateri = await '';
          } else{
            Swal.close();
            Swal({
							title: "update data gagal "+res,
							showClass: {
								popup: "animate__animated animate__fadeInDown"
							},
							hideClass: {
								popup: "animate__animated animate__fadeOutUp"
							}
						})
          }
      },
      async tambahMateri(){
          Swal({
          title: "Loading",
          onBeforeOpen: () => {
            Swal.showLoading();
          }
        });
        let isi ={
          judul:this.judul_materi,
          file:this.fileMateri,
          id_kelas:this.$route.query.id_kelas,
          id_mapel:this.$route.query.id
        }
          let res = await this.$store.dispatch(`${Action.postMateri}`, isi);
          if(res.status == 200){
            Swal.close();
            this.dataMateri= await [];
            this.getMateri(this.$route.query.id);
            this.modalTambah= await false;
            this.fileMateri=await '';
          } else{
            Swal.close();
            Swal({
							title: "tambah data gagal "+res,
							showClass: {
								popup: "animate__animated animate__fadeInDown"
							},
							hideClass: {
								popup: "animate__animated animate__fadeOutUp"
							}
						})
          }

      },
      viewNilai(data){
        // this.$router.push({path: "/manajemenNilai", query:{id_tugas:data.id_nama_tugas,id_kelas:data.id_kelas,id_mapel:data.id_mapel}});
      },
      pageLink(data){
        // console.log(data);
        // let isi = {
        //   id:data.id_nama_tugas,
        //   id_kelas:this.$route.query.id_kelas,
        //   nama_tugas:data.nama_tugas,
        //   durasi:data.durasi
        // }
        // this.$router.push({path: "/listSoal", query:{id:data.id_nama_tugas,id_kelas:this.$route.query.id}});
      },
      async startTask(data){
        console.log(data);
          this.pageLink(data);
      },
      async getMateri(id){
        Swal({
          title: "Loading",
          onBeforeOpen: () => {
            Swal.showLoading();
          }
        });
        console.log(id);
        let isi ={
          id_kelas:this.$route.query.id_kelas,
          id_mapel:this.$route.query.id
        }
          let res = await this.$store.dispatch(`${Action.getMateriByIdKelasIdMapel}`, isi);
          console.log(res);
          if(res.status == 200){
            Swal.close();
            this.dataMateri= await res.data.reverse();
          } else{
            Swal.close();
            Swal({
							title: "Memuat Data Gagal "+res,
							showClass: {
								popup: "animate__animated animate__fadeInDown"
							},
							hideClass: {
								popup: "animate__animated animate__fadeOutUp"
							}
						})
          }
      }
  }
  
}
</script>
<style scoped>
.cascading-admin-card {
  margin: 20px 0;
}
.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}
.cascading-admin-card .admin-up .fas,
.cascading-admin-card .admin-up .far {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
  padding: 1.7rem;
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-right: 1rem;
  border-radius: 3px;
}
.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}
.admin-up .data p {
  color: #999999;
  font-size: 12px;
}
.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}
</style>
