<template>
<mdb-card>
  <mdb-card-body class="row">
      <mdb-treeview class="col" style="width: 50%" header="Menu Biasa" animated>
        <vue-element-loading :active="isActive" spinner="bar-fade-scale" color="#FF6700"/>
        <div v-for="(list, index) in menuAwal" :key="index">
          <div v-if="list.child.length > 0" >
          <treeview-item  nested far icon="envelope-open" :title="list.judul" @opened-file="showFolder" :mydata="list" animated>
            <div v-for="(sub, index2) in list.child" :key="index2" >
              <div v-if="sub.child.length > 0" >
                <treeview-item nested far icon="envelope-open" :title="sub.judul" :mydata="sub" @opened-file="showFolder" animated>
                  <div v-for="(sub2,index3) in sub.child" :key="index3" >
                    <treeview-item v-if="sub2.child.length != 0" nested far icon="envelope-open" :title="sub2.judul" :mydata="sub2" @opened-file="showFolder" animated>
                      <div v-for="(sub3,index4) in sub2.child" :key="index4">
                          <treeview-item far icon="file" :title="sub3.judul" :mydata="sub3" @opened-file="showFolder" animated />
                      </div>
                    </treeview-item>   
                      <treeview-item v-else-if="sub2.child.length == 0" :mydata="sub2" @opened-file="showFolder" far icon="file" :title="sub2.judul" animated /> 
                  </div>
                </treeview-item>
              </div>
              <div v-else-if="sub.child.length == 0">
                <treeview-item far icon="file" :title="sub.judul" :mydata="sub" @opened-file="showFolder" animated>
                </treeview-item>
              </div>
            </div>
          </treeview-item>
          </div>
          <div v-else-if="list.child.length == 0" >
            <treeview-item far icon="file" :title="list.judul" :mydata="list" @opened-file="showFolder" animated >
            </treeview-item>
          </div>
        </div>
      </mdb-treeview>
      <div class="col">
        <mdb-btn class="ml-3" outline="success" size="sm" @click="openModalTambahMenu(0,0)">Tambah Menu Awal</mdb-btn>
                  <mdb-card-body class="col">
                    <mdb-tbl>
                      <thead class="blue-grey lighten-4">
                        <tr><th>#</th><th>Judul</th><th>Keyword</th><th>Aksi</th></tr>
                      </thead>
                      <tbody v-for="(list, index) in tampungMenuSementara" :key="index">
                        <tr>
                          <th scope="row">{{index+1}}</th>
                          <td >
                            <input v-if="list.statusInput == true" v-model="list.judul" @change="changeTitle(list,index)" @contextmenu="ubahStatusInput(index,false)" />
                            <label v-if="list.statusInput == false" @click="ubahStatusInput(index,true)" for="">{{list.judul}}</label>
                          </td>
                          <td>{{list.keyword}}</td>
                          <td>
                            <span class="mr-2" type="button" @click="openModalTambahMenu(list.id,list.statusmenu)"><mdb-icon icon="plus-square" /></span>
                            <span @click="openModalHapusMenu(list.id)" type="button"><mdb-icon icon="trash-alt" /></span>
                            </td>
                        </tr>
                      </tbody>
                    </mdb-tbl>
                  </mdb-card-body>
                  <!-- modal warning delete  -->
                  <mdb-modal :show="showCentralModalMedium" @close="showCentralModalMedium = false">
                        <mdb-modal-header>
                          <mdb-modal-title>Hapus Menu</mdb-modal-title>
                        </mdb-modal-header>
                        <mdb-modal-body>Apakah anda yakin ingin menghapus menu ini ?</mdb-modal-body>
                        <mdb-modal-footer>
                          <mdb-btn color="secondary" @click.native="showCentralModalMedium = false">Tutup</mdb-btn>
                          <mdb-btn color="primary" @click="hapusMenu(formMenu.id)">Hapus</mdb-btn>
                        </mdb-modal-footer>
                      </mdb-modal>

                      <!-- modal form tambah menu -->
                      <mdb-modal :show="showCentralModalMediumAdd" @close="showCentralModalMediumAdd = false">
                        <mdb-modal-header>
                          <mdb-modal-title>Tambah Menu</mdb-modal-title>
                        </mdb-modal-header>
                        <mdb-modal-body>
                          <mdb-input label="Judul" v-model="formMenu.judul" />
                          <mdb-input label="Keyword" v-model="formMenu.keyword" />
                          <mdb-input label="Teks" v-model="formMenu.teks" />
                        </mdb-modal-body>
                        <mdb-modal-footer>
                          <mdb-btn color="secondary" @click.native="showCentralModalMediumAdd = false">Tutup</mdb-btn>
                          <mdb-btn color="primary" @click="tambahMenu(formMenu)">Simpan</mdb-btn>
                        </mdb-modal-footer>
                      </mdb-modal>
              </div>
  </mdb-card-body>
</mdb-card>
</template>
<script>
import treeviewItem from '../../components/treeview/treeviewitem.vue'
import { Action } from '../../store/api/types';
  import {
    mdbIcon,
    mdbTreeview,
    mdbTbl,
    mdbCard,
      mdbCardBody,
      mdbModal,
    mdbModalHeader,
    mdbModalTitle,
    mdbModalBody,
    mdbBtn,
    mdbInput,
    mdbModalFooter
  } from "mdbvue";
  export default {
    name: "TreeviewPage",
    components: {
    mdbIcon,
      treeviewItem,
      mdbTreeview,
      mdbTbl,
      mdbCard,
      mdbCardBody,
      mdbModal,
    mdbModalHeader,
    mdbModalTitle,
    mdbModalBody,
    mdbModalFooter,
    mdbBtn,
    mdbInput
    },
    data(){
      return{
        isActive:false,
        menuAwal:[],
        tampungMenuSementara:[],
        isi:"tes",
        showCentralModalMedium:false,
        showCentralModalMediumAdd:false,
        formMenu:{
          id:"",
          judul:"",
          keyword:"",
          teks:"",
          idmenu:"",
          statusmenu:""
        }
      }
    },
    created(){
      this.getMenu();
    },
    watch:{
    },
    methods:{
      openModalHapusMenu(id){
        this.showCentralModalMedium=true;
        this.formMenu.id=id;
      },
      openModalTambahMenu(idmenu,statusmenu){
        this.showCentralModalMediumAdd=true;
        this.formMenu.idmenu=idmenu;
        this.formMenu.statusmenu=statusmenu+1;
      },
      async hapusMenu(id){
        console.log(id);
        this.isActive=await true;
        let res = await this.$store.dispatch(`${Action.deleteMenuBot}`,id);
        if(res.status == 200){
          this.menuAwal=await [];
          this.getMenu();
          this.isActive= await false;
          this.showCentralModalMedium=await false;
          this.tampungMenuSementara=await [];
        }
      },
      async tambahMenu(data){
        this.isActive= await true;
        let dataJson = {
              "judul": data.judul,
              "keyword": data.keyword,
              "teks": data.teks,
              "idmenu": data.idmenu,
              "statusmenu":data.statusmenu
          }
        
        let res = await this.$store.dispatch(`${Action.postMenuBot}`,dataJson);
        console.log(res);
        if(res.status == 200){
          this.menuAwal=await [];
          this.getMenu();
          this.isActive= await false;
          this.showCentralModalMediumAdd=await false;
          this.tampungMenuSementara=await[];
        }
      },
      ubahStatusInput(index,status){
        console.log(index);
        this.tampungMenuSementara[index].statusInput=status;
      },
      async changeTitle(data,index){
        console.log(data);
        console.log(index);
        this.isActive=true;
        let myJson = await {
            "id": data.id,
            "judul": data.judul,
            "keyword": data.keyword,
            "teks": data.teks,
            "idmenu": data.idmenu,
            "statusmenu": data.statusmenu,
            "idfungsi": data.idfungsi,
            "status": data.status,
        }

        let res = await this.$store.dispatch(`${Action.putMenuBot}`,myJson);
        if(res.status == 200){
          this.menuAwal=await [];
          this.getMenu();
          this.isActive= await false;
          this.tampungMenuSementara=await[];
        }

      },
      async showFolder(data,status){
        if(status == true){
          let myJson = {
              "id": data.id,
              "judul": data.judul,
              "keyword": data.keyword,
              "teks": data.teks,
              "idmenu": data.idmenu,
              "statusmenu": data.statusmenu,
              "idfungsi": data.idfungsi,
              "status": data.status,
              "child": data.child,
              "statusInput":false
          }
          await this.tampungMenuSementara.push(myJson);
        } else{
          if(data.child.length != 0){
            // perulangan child pertama
            for(var i=0;i<data.child.length;i++){
              if(data.child[i].child.length != 0){
                //perulangan child kedua
                for(var j=0;j<data.child[i].child.length;j++){
                  if(data.child[i].child[j].length != 0){
                    //perulangan child ketiga
                    for(var k=0;k<data.child[i].child[j].child.length;k++){
                      
                      this.tampungMenuSementara = await this.tampungMenuSementara.filter(fl => fl.id !== data.child[i].child[j].child[k].id);
                    }
                    this.tampungMenuSementara = await this.tampungMenuSementara.filter(fl => fl.id !== data.child[i].child[j].id);
                  } else {
                    this.tampungMenuSementara = await this.tampungMenuSementara.filter(fl => fl.id !== data.child[i].child[j].id);
                  }
                }
                this.tampungMenuSementara = await this.tampungMenuSementara.filter(fl => fl.id !== data.child[i].id);
              }else{
                this.tampungMenuSementara = await this.tampungMenuSementara.filter(fl => fl.id !== data.child[i].id);
              }
            }
            this.tampungMenuSementara = await this.tampungMenuSementara.filter(fl => fl.id !== data.id);
          } else{
            this.tampungMenuSementara = await this.tampungMenuSementara.filter(fl => fl.id !== data.id);
          }
        }
      },
      async getMenu(){
        this.isActive= await true;
        let res = await this.$store.dispatch(`${Action.getMenuBot}`);
          let statusMenuMax = res.data.sort(function (a, b) {
              return b.statusmenu - a.statusmenu
          });
          for(var i=0;i<res.data.length;i++){
            if(res.data[i].statusmenu == 1){
              this.menuAwal.push(res.data[i])
            }
          }
          let myChild = 'child';
          for(var j=2;j<statusMenuMax[0].statusmenu+1;j++){
            for(var k=0;k<res.data.length;k++){
              if(res.data[k].statusmenu == j && j == 2){
                for(var l=0;l<this.menuAwal.length;l++){
                  let filterChild = res.data.filter(fl => fl.idmenu === this.menuAwal[l].id);
                  this.menuAwal[l].child=filterChild;
                }
              }
              else if(res.data[k].statusmenu == j && j == 3){
                for(var m=0;m<this.menuAwal.length;m++){
                  if(this.menuAwal[m].child.length != 0){
                    let isi = this.menuAwal[m]
                    console.log(isi);
                    let evalChild = eval(`isi.${myChild}`);
                    for(var n=0;n<evalChild.length;n++){
                      let filterChild = await res.data.filter(fl => fl.idmenu === evalChild[n].id);
                      let coba = await eval(`isi.${myChild}[n]`);
                      coba.child = filterChild;
                    }
                  }
                }
              }
              else if(res.data[k].statusmenu == j && j == 4){
                for(var o=0;o<this.menuAwal.length;o++){
                  if(this.menuAwal[o].child.length != 0){
                    let isi = this.menuAwal[o]
                    console.log(isi);
                    let evalChild = eval(`isi.${myChild}`);
                    for(var p=0;p<evalChild.length;p++){
                      if(evalChild[p].child.length != 0){
                        for(var q=0;q<evalChild[p].child.length;q++){
                          let filterChild = await res.data.filter(fl => fl.idmenu === evalChild[p].child[q].id);
                          let coba = await eval(`isi.${myChild}[p].child[q]`);
                          coba.child = filterChild;
                        }
                          
                      }
                    }
                  }
                }
              }
            }
          }
          this.menuAwal = await this.menuAwal.sort(function (a, b) {
              return b.child.length - a.child.length
          });
          this.isActive= await false;
      },
    }
  };
</script>