<template>
<div>
  <!-- role murid -->
    <mdb-list-group class="list-group-flush" v-if="role == 3">
        <router-link to="/dashboard">
          <mdb-list-group-item
            :action="true"
            :class="activeItem === 1 && 'active'"
            ><mdb-icon
              icon="chart-pie"
              class="mr-3"
            />Dashboard</mdb-list-group-item
          >
        </router-link>
        <router-link to="/profile" >
          <mdb-list-group-item
            :action="true"
            :class="activeItem === 2 && 'active'"
            ><mdb-icon icon="user" class="mr-3" />Profile</mdb-list-group-item
          >
        </router-link>
        <router-link to="/pageMateri">
          <mdb-list-group-item
            :action="true"
            :class="activeItem === 8 && 'active'"
            ><mdb-icon icon="chalkboard" class="mr-3" />Materi Pembelajaran</mdb-list-group-item
          >
        </router-link>
        <span  @click="manMenu=!manMenu">
            <mdb-list-group-item
            :action="true"
            >
            <div class="row">
              <div class="col">
                 Tugas
              </div>
              <div class="col-1">
                <mdb-icon v-if="manMenu == true" icon="angle-down" />
                <mdb-icon v-else icon="angle-right" />
              </div>
            </div>
          </mdb-list-group-item
          >
        </span>
      <mdb-list-group class="list-group-flush ml-3" v-if="manMenu == true">
        <router-link to="/menuTugas">
          <mdb-list-group-item
            :action="true"
            :class="activeItem === 8 && 'active'"
            ><mdb-icon icon="newspaper" class="mr-3" />Menu Tugas</mdb-list-group-item
          >
        </router-link>
        <router-link to="/menuUjian">
          <mdb-list-group-item
            :action="true"
            :class="activeItem === 3 && 'active'"
            ><mdb-icon icon="newspaper" class="mr-3" />Menu Ujian</mdb-list-group-item
          >
        </router-link>
      </mdb-list-group>
      
        
        <!-- <router-link to="/tables" @click.native="activeItem = 4">
          <mdb-list-group-item
            :action="true"
            :class="activeItem === 4 && 'active'"
            ><mdb-icon icon="table" class="mr-3" />Tables</mdb-list-group-item
          >
        </router-link>
        <router-link to="/maps" @click.native="activeItem = 5">
          <mdb-list-group-item
            :action="true"
            :class="activeItem === 5 && 'active'"
            ><mdb-icon icon="map" class="mr-3" />Maps</mdb-list-group-item
          >
        </router-link>
        <router-link to="/404" @click.native="activeItem = 6">
          <mdb-list-group-item
            :action="true"
            :class="activeItem === 6 && 'active'"
            ><mdb-icon
              icon="exclamation"
              class="mr-3"
            />404</mdb-list-group-item
          >
        </router-link> -->
      </mdb-list-group>

      <!-- role guru -->
      <mdb-list-group class="list-group-flush" v-if="role == 2">
        <router-link to="/dashboard">
          <mdb-list-group-item
            :action="true"
            :class="activeItem === 1 && 'active'"
            ><mdb-icon
              icon="chart-pie"
              class="mr-3"
            />Dashboard</mdb-list-group-item
          >
        </router-link>
        <router-link to="/profile" >
          <mdb-list-group-item
            :action="true"
            :class="activeItem === 2 && 'active'"
            ><mdb-icon icon="user" class="mr-3" />Profile</mdb-list-group-item
          >
        </router-link>
        <router-link to="/daftarKelas" >
          <mdb-list-group-item
            :action="true"
            :class="activeItem === 2 && 'active'"
            ><mdb-icon icon="newspaper" class="mr-3" />Daftar Kelas</mdb-list-group-item
          >
        </router-link>
        <router-link to="/materiGuru" >
          <mdb-list-group-item
            :action="true"
            :class="activeItem === 2 && 'active'"
            ><mdb-icon icon="chalkboard-teacher" class="mr-3" />Materi Pembelajaran</mdb-list-group-item
          >
        </router-link>

        <!-- <span  @click="manMenu=!manMenu">
            <mdb-list-group-item
            :action="true"
            >
            <div class="row">
              <div class="col">
                 Kelas
              </div>
              <div class="col-1">
                <mdb-icon v-if="manMenu == true" icon="angle-down" />
                <mdb-icon v-else icon="angle-right" />
              </div>
            </div>
          </mdb-list-group-item
          >
        </span> -->
      <!-- <mdb-list-group class="list-group-flush ml-3" v-if="manMenu == true">
        <router-link to="/menuTugas">
          <mdb-list-group-item
            :action="true"
            :class="activeItem === 8 && 'active'"
            ><mdb-icon icon="newspaper" class="mr-3" />Daftar Kelas</mdb-list-group-item
          >
        </router-link>
        <router-link to="/menuUjian">
          <mdb-list-group-item
            :action="true"
            :class="activeItem === 3 && 'active'"
            ><mdb-icon icon="newspaper" class="mr-3" />Menu Ujian</mdb-list-group-item
          >
        </router-link>
      </mdb-list-group> -->
        
        <!-- <router-link to="/tables" @click.native="activeItem = 4">
          <mdb-list-group-item
            :action="true"
            :class="activeItem === 4 && 'active'"
            ><mdb-icon icon="table" class="mr-3" />Tables</mdb-list-group-item
          >
        </router-link>
        <router-link to="/maps" @click.native="activeItem = 5">
          <mdb-list-group-item
            :action="true"
            :class="activeItem === 5 && 'active'"
            ><mdb-icon icon="map" class="mr-3" />Maps</mdb-list-group-item
          >
        </router-link>
        <router-link to="/404" @click.native="activeItem = 6">
          <mdb-list-group-item
            :action="true"
            :class="activeItem === 6 && 'active'"
            ><mdb-icon
              icon="exclamation"
              class="mr-3"
            />404</mdb-list-group-item
          >
        </router-link> -->
      </mdb-list-group>

      <!-- role admin -->
      <mdb-list-group class="list-group-flush" v-if="role == 1">
        <router-link to="/dashboard">
          <mdb-list-group-item
            :action="true"
            :class="activeItem === 1 && 'active'"
            ><mdb-icon
              icon="chart-pie"
              class="mr-3"
            />Dashboard</mdb-list-group-item
          >
        </router-link>
        <router-link to="/profile" >
          <mdb-list-group-item
            :action="true"
            :class="activeItem === 2 && 'active'"
            ><mdb-icon icon="user" class="mr-3" />Profile</mdb-list-group-item
          >
        </router-link>
        <router-link to="/manajemenGuru" >
          <mdb-list-group-item
            :action="true"
            :class="activeItem === 2 && 'active'"
            ><mdb-icon icon="chalkboard-teacher" class="mr-3" />Manajemen Guru</mdb-list-group-item
          >
        </router-link>
        <router-link to="/manajemenSiswa" >
          <mdb-list-group-item
            :action="true"
            :class="activeItem === 2 && 'active'"
            ><mdb-icon icon="child" class="mr-3" />Manajemen Siswa</mdb-list-group-item
          >
        </router-link>
        <router-link to="/manajemenKelas" >
          <mdb-list-group-item
            :action="true"
            :class="activeItem === 2 && 'active'"
            ><mdb-icon icon="journal-whills" class="mr-3" />Manajemen Kelas</mdb-list-group-item
          >
        </router-link>
        <router-link to="/manajemenMapel" >
          <mdb-list-group-item
            :action="true"
            :class="activeItem === 2 && 'active'"
            ><mdb-icon icon="book" class="mr-3" />Manajemen Mata Pelajaran</mdb-list-group-item
          >
        </router-link>
      </mdb-list-group>
      </div>
</template>
<script>
import {
  mdbIcon,
  mdbListGroup,
  mdbListGroupItem,
  // mdbNavbarBrand,
} from "mdbvue";
export default {
    components:{
        // mdbCard,
//   mdbCardBody,
  // waves,
//   mdbNavbar,
  // mdbListGroup,
  //   mdbListGroupItem,
//   mdbNavbarToggler,
//   mdbNavbarNav,
//   mdbNavItem,
  mdbListGroup,
  mdbIcon,
  mdbListGroupItem,
    },
    data(){
        return{
            role:"",
            manMenu:false,
            manMenuMateri:false
        }
    },
    created(){
      this.role=localStorage.getItem("role")
    },
    beforeMount() {
    this.activeItem = this.$route.matched[0].props.default.page;
  },
  // mixins: [waves],
    
}
</script>
<style scoped>
.dark-blue-text {
    color: #0A38F5;
  }
  .dark-pink-text {
    color: #AC003A;
  }
  .dark-amber-text {
    color: #ff6f00;
  }
  .dark-teal-text {
    color: #004d40;
  }
main {
  background-color: #ededee;
}

.flexible-content {
  transition: padding-left 0.3s;
  padding-left: 270px;
}

.flexible-navbar {
  transition: padding-left 0.5s;
  padding-left: 270px;
}

.sidebar-fixed {
  left: 0;
  top: 0;
  height: 100vh;
  width: 270px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0;
}

.sidebar-fixed .logo-wrapper img {
  width: 100%;
  padding: 2.5rem;
}

.sidebar-fixed .list-group-item {
  display: block !important;
  transition: background-color 0.3s;
}

.sidebar-fixed .list-group .active {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none;
  }
  .flexible-content {
    padding-left: 0;
  }
  .flexible-navbar {
    padding-left: 10px;
  }
}
</style>