<template>
  <mdb-card class="mb-4">
    <mdb-navbar
      color="white"
      class="mt-2 lighten-4"
      expand="lx"
    >
      <mdb-card-body class="d-sm-flex justify-content-between">
        <h4 class="mb-sm-0 pt-2">
          <a
            href="https://mdbootstrap.com/material-design-for-bootstrap/"
            target="_blank"
            >Home Page</a
          ><span>/</span><span> {{ $route.name }}</span>
        </h4>
        <!-- <div class="mobile">
          <mdb-navbar-toggler>
            <div>
              <mdb-navbar-nav right>
                <mdb-nav-item href="#" waves-fixed>Home</mdb-nav-item>
                <mdb-nav-item href="#" waves-fixed>Features</mdb-nav-item>
                <mdb-nav-item href="#" waves-fixed>Pricing</mdb-nav-item>
              </mdb-navbar-nav>
            </div>
          </mdb-navbar-toggler>
        </div> -->
        <!-- Central Modal Medium Success -->
        <mdb-modal :show="show" @show="handleShow" @close="show = false" size="fluid">
          <mdb-modal-header>
            <mdb-modal-title>Success Modal</mdb-modal-title>
          </mdb-modal-header>
          <mdb-modal-body  class="text-center">
            <Menu/>
          </mdb-modal-body>
          <mdb-modal-footer center>
            <mdb-btn color="danger" @click="show = false">Close </mdb-btn>
          </mdb-modal-footer>
        </mdb-modal>

        <!-- </mdb-navbar-toggler> -->
        <div class="mobile">
          <mdb-btn color="primary" size="sm" class="my-0" type="submit" @click="show = true"
            ><mdb-icon icon="bars" /></mdb-btn>
        </div>
      </mdb-card-body>
      <!-- mdbNavbar brand -->
    </mdb-navbar>
  </mdb-card>
</template>
<script>
import {
  mdbCard,
  mdbCardBody,
  waves,
  // mdbListGroup,
  //   mdbListGroupItem,
  mdbIcon, mdbBtn, mdbModal, mdbModalHeader, mdbModalTitle, mdbModalBody, mdbModalFooter,
  mdbListGroup,
  mdbListGroupItem,
  // mdbNavbarBrand,
} from "mdbvue";
import Menu from './menu.vue';

export default {
  name: "AdminTemplate",
  components: {
    Menu,
  //   mdbListGroup,
  // mdbListGroupItem,
    // mdbNavbar,
    mdbIcon, mdbBtn, mdbModal, mdbModalHeader, mdbModalTitle, mdbModalBody, mdbModalFooter,
    // modal,
    // mdbListGroup,
    // mdbListGroupItem,
    // mdbNavbarToggler,
    // mdbNavbarNav,
    // mdbNavItem,
    // mdbNavbarBrand,
    mdbCard,
    mdbCardBody,
  },
  data() {
    return {
      show: false,
      myToggler: false,
      activeItem: 1,
    };
  },
  methods:{
    statusSideBar(){
      console.log("sini");
    },
    handleShow() {
        /* eslint-disable no-alert*/
        // alert('show!');
      }
  },
  watch: {
    myToggler(val) {
      console.log(val);
    },
  },
  created() {
    console.log(localStorage.getItem("token"));
  },
  computed: {
    currentRouteName() {
      return this.$route.name;
    },
  },
  beforeMount() {
    this.activeItem = this.$route.matched[0].props.default.page;
  },
  mixins: [waves],
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
.navbar-light .navbar-brand {
  margin-left: 15px;
  color: #2196f3 !important;
  font-weight: bolder;
}
</style>

<style scoped>
main {
  background-color: #ededee;
}

.flexible-content {
  transition: padding-left 0.3s;
  padding-left: 270px;
}

.flexible-navbar {
  transition: padding-left 0.5s;
  padding-left: 270px;
}

.sidebar-fixed {
  left: 0;
  top: 0;
  height: 100vh;
  width: 270px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0;
}

.sidebar-fixed .logo-wrapper img {
  width: 100%;
  padding: 2.5rem;
}

.sidebar-fixed .list-group-item {
  display: block !important;
  transition: background-color 0.3s;
}

.sidebar-fixed .list-group .active {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}
@media (min-width: 1199px) and (max-width: 2560px) {
  .sidebar-fixed {
    /* display: none; */
  }
  .flexible-content {
    padding-left: 0;
  }
  .flexible-navbar {
    padding-left: 10px;
  }
  .mobile {
    display: none;
  }
}
</style>
