<template>
    <mdb-side-nav2
    class="sidebar-fixed position-fixed"
    :data="navigation"
    over
    v-model="show"
    :slim-collapsed="slimCollapsed"
    expand-on-hover
    slim
    @toggleSlim="slimCollapsed = $event"
  >
    <div slot="header">
      <div
        class="d-flex align-items-center my-4"
        :class="
          slimCollapsed
            ? 'justify-content-center'
            : 'justify-content-start'
        "
      >
        <mdb-avatar :width="40" style="flex: 0 0 auto">
          <img
            src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
            class="img-fluid rounded-circle z-depth-1"
          />
        </mdb-avatar>
        <p
          class="m-t mb-0 ml-4 p-0"
          style="flex: 0 2 auto"
          v-show="!slimCollapsed"
        >
          <strong
            >Ann Smith
            <mdb-icon
              color="success"
              icon="circle"
              class="ml-2"
              size="sm"
          /></strong>
        </p>
      </div>
      <hr class="w-100" />
      <mdbBtn @click="show=!show">coba</mdbBtn>
    </div>
  </mdb-side-nav2>
</template>
<script>
  import { mdbSideNav2,mdbIcon, mdbAvatar,mdbBtn } from "mdbvue";

  export default {
    components: {
      mdbIcon,
      mdbAvatar,
      mdbSideNav2,
      mdbBtn,
    },
    data() {
      return {
        show: true,
        slimCollapsed: false,
        navigation: [
          {
            name: "Home",
            to: "/",
            icon: "home"
          },
          {
            name: "CSS",
            to: "/css",
            icon: "css3",
            fab: true
          },
          {
            name: "Components",
            to: "/components",
            icon: "cubes"
          },
          {
            name: "Advanced",
            to: "/advanced",
            icon: "code"
          },
          {
            name: "Navigation",
            icon: "bars",
            children: [
              {
                name: "Footer",
                to: "/navigation/pro/footer"
              },
              {
                name: "Hamburger Menu",
                to: "/navigation/pro/hamburger"
              },
              {
                name: "Mega Menu",
                to: "/navigation/pro/megamenu"
              },
              {
                name: "Navbar",
                to: "/navigation/pro/navbar"
              },
              {
                name: "Sidenav",
                to: "/navigation/pro/sidenav2"
              }
            ]
          },
          {
            name: "Forms",
            to: "/forms",
            icon: "edit"
          },
          {
            name: "Tables",
            to: "/tables",
            icon: "table"
          },
          {
            name: "Modals",
            to: "/modals",
            icon: "window-restore"
          },
          {
            name: "Plugins",
            to: "/plugins",
            icon: "plus-square"
          },
          {
            name: "Sections",
            to: "/sections",
            icon: "th-large"
          },
          {
            name: "Mixins",
            to: "/mixins",
            icon: "user-cog"
          },
          {
            name: "Directives",
            to: "/directives",
            icon: "asterisk"
          }
        ]
      };
    }
  };
</script>