<template>
    <div>
        <mdb-card>
            <h3 class="p-3">
                <strong>Manajemen Akun Siswa</strong>
            </h3>
            <mdb-btn class="mb-5 mt-3 ml-3 mr-3" @click.native="openModalTambah()" outline="primary">Tambah Siswa</mdb-btn>
                  <mdb-card-body>
                      <mdb-tbl hover>
                          <thead class="blue-grey lighten-4">
                              <tr>
                                  <th>No</th>
                                  <th>NIS</th>
                                  <th>Nama</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody >
                              <tr v-for="(list,index) in listData" :key="index">
                                  <th scope="row">{{index+1}}</th>
                                  <td>{{list.nis}}</td>
                                  <td>{{list.nama_siswa}}</td>
                                  <td>
                                      <div class="row">
                                          <div class="col">
                                              <mdb-btn class="mr-3" tag="a" color="yellow" floating size="lg" @click="openModalEdit(list)" ><mdb-icon style="color:white" far icon="edit" /></mdb-btn>
                                              <mdb-btn class="mr-3" tag="a" color="green" floating size="lg" @click="openModalPass(list)"><mdb-icon icon="key" style="color:white" /></mdb-btn>
                                              <mdb-btn class="mr-3" tag="a" color="red" floating size="lg" @click="openModalDel(list)"><mdb-icon far icon="trash-alt" style="color:white" /></mdb-btn>
                                          </div>
                                      </div>
                                  </td>
                              </tr>
                          </tbody>
                      </mdb-tbl>
                  </mdb-card-body>
              </mdb-card>
              <mdb-modal :show="modalTambah" @close="modalTambah = false">
        <mdb-modal-header>
            <mdb-modal-title>Tambah Siswa</mdb-modal-title>
        </mdb-modal-header>
        <mdb-modal-body>
            <mdb-input label="NIS" v-model="tampungData.nis" class="mb-5"/>
            <mdb-input label="NAMA" v-model="tampungData.nama_siswa" class="mb-5"/>
            <label class="mt-3" for="">Kelas</label>
            <select class="browser-default custom-select" v-model="tampungData.id_kelas">
                <option :value="listKelas.id_kelas" v-for="(listKelas, index) in listKelas" :key="index">{{listKelas.nama_kelas}}</option>
            </select>
            <mdb-input label="password" v-model="tampungData.password" class="mb-5"/>
        </mdb-modal-body>
        <mdb-modal-footer>
            <mdb-btn color="secondary" @click.native="modalTambah = false">Close</mdb-btn>
            <mdb-btn color="primary" @click="tambah()">Tambah</mdb-btn>
        </mdb-modal-footer>
        </mdb-modal>
        

        <!-- modal edit -->
        <mdb-modal :show="modalEdit" @close="modalEdit = false">
        <mdb-modal-header>
            <mdb-modal-title>Edit Siswa</mdb-modal-title>
        </mdb-modal-header>
        <mdb-modal-body>
            <mdb-input label="NIS" v-model="tampungData.nis" class="mb-5"/>
            <mdb-input label="NAMA" v-model="tampungData.nama_siswa" class="mb-5"/>
            <label class="mt-3" for="">Kelas</label>
            <select class="browser-default custom-select" v-model="tampungData.id_kelas">
                <option :value="listKelas.id_kelas" v-for="(listKelas, index) in listKelas" :key="index">{{listKelas.nama_kelas}}</option>
            </select>
        </mdb-modal-body>
        <mdb-modal-footer>
            <mdb-btn color="secondary" @click.native="modalEdit = false">Close</mdb-btn>
            <mdb-btn color="primary" @click="edit()">Edit</mdb-btn>
        </mdb-modal-footer>
        </mdb-modal>

        <!-- modal ganti pass -->
        <mdb-modal :show="modalEditPass" @close="modalEditPass = false">
        <mdb-modal-header>
            <mdb-modal-title>Edit Password</mdb-modal-title>
        </mdb-modal-header>
        <mdb-modal-body>
            <mdb-input label="Password" type="password" v-model="tampungData.password" class="mb-5"/>
            
        </mdb-modal-body>
        <mdb-modal-footer>
            <mdb-btn color="secondary" @click.native="modalEditPass = false">Close</mdb-btn>
            <mdb-btn color="primary" @click="editPass()">Edit</mdb-btn>
        </mdb-modal-footer>
        </mdb-modal>

        <!-- modal delete -->
        <mdb-modal :show="modalDelete" @close="modalDelete = false">
        <mdb-modal-header>
            <mdb-modal-title>Delete Akun</mdb-modal-title>
        </mdb-modal-header>
        <mdb-modal-body>
            <h4>
                <strong>
                    Apakah anda yakin ingin menghapus akun ini?
                </strong>
            </h4>
            
        </mdb-modal-body>
        <mdb-modal-footer>
            <mdb-btn color="secondary" @click.native="modalDelete = false">Close</mdb-btn>
            <mdb-btn color="primary" @click="del()">Hapus</mdb-btn>
        </mdb-modal-footer>
        </mdb-modal>
    </div>
</template>
<script>
import moment from 'moment';
import { mdbRow, mdbCol, mdbBtn, mdbCard, mdbCardBody, mdbIcon, mdbTbl, mdbBarChart, mdbBadge, mdbModal, mdbModalHeader, mdbModalTitle, mdbModalBody, mdbModalFooter, mdbInput } from 'mdbvue'
import { Action } from '../../store/api/types';
import 'sweetalert2/dist/sweetalert2.css';
import VDatePicker from 'v-calendar/lib/components/date-picker.umd'
import Swal from 'sweetalert2'
export default {
    components:{
        mdbTbl,
        mdbBtn,
        mdbCard,
        mdbCardBody,
        mdbInput,
        mdbIcon,
    mdbModal,
    mdbModalHeader,
    mdbModalTitle,
    mdbModalBody,
    mdbModalFooter
    },
    data(){
        return{
            masks: {
                input: 'YYYY-MM-DD h:mm A',
                weekdays: 'WWW',
            },
            modalTambah:false,
            modalEdit:false,
            modalEditPass:false,
            modalDelete:false,
            listData:[],
            tempat:"",
            tgl_lahir:"",
            listKelas:[],
            id_kelas:"",
            tampungData:
                {
                    "id_siswa":"",
                    "id_akun":"",
                    "nis": "",
                    "nama_siswa": "",
                    "id_kelas":"",
                    "password": "",
                },
        }
    },
    created(){
        this.get();
        this.getKelas();
    },
    watch:{

    },
    methods:{
        async del(){
            Swal({
                title: "Loading",
                onBeforeOpen: () => {
                    Swal.showLoading();
                }
                });
            let res = await this.$store.dispatch(`${Action.delAkun}`,this.tampungData);
            console.log(res);
            if(res.status == 200){
                        Swal.close();
                        this.modalDelete=false;
                        this.tampungData={};
                        this.get();
                    }else {
                        Swal.close();
                        Swal({
                                        title: "Memuat Data Gagal "+res,
                                        showClass: {
                                            popup: "animate__animated animate__fadeInDown"
                                        },
                                        hideClass: {
                                            popup: "animate__animated animate__fadeOutUp"
                                        }
                                    })
                    }
        },
        async openModalDel(data){
            this.tampungData.id_akun= data.akun.id_akun;
            this.modalDelete=true;
        },
        async editPass(){
            Swal({
                title: "Loading",
                onBeforeOpen: () => {
                    Swal.showLoading();
                }
                });
                console.log(this.tampungData.password);
            let res = await this.$store.dispatch(`${Action.changePassword}`,this.tampungData);
            console.log(res);
            if(res.status == 200){
                        Swal.close();
                        this.modalEditPass=false;
                        this.tampungData={};
                        this.get();
                    }else {
                        Swal.close();
                        Swal({
                                        title: "Memuat Data Gagal "+res,
                                        showClass: {
                                            popup: "animate__animated animate__fadeInDown"
                                        },
                                        hideClass: {
                                            popup: "animate__animated animate__fadeOutUp"
                                        }
                                    })
                    }
        },
        async openModalPass(data){
            this.modalEditPass=await true;
            this.tampungData.id_akun=await data.akun.id_akun;
        },
        async edit(){
            Swal({
                title: "Loading",
                onBeforeOpen: () => {
                    Swal.showLoading();
                }
                });
                // let res=[];
            let res = await this.$store.dispatch(`${Action.editSiswa}`,this.tampungData);
            console.log(this.tampungData);
            if(res.status == 200){
                        Swal.close();
                        this.modalEdit=false;
                        this.tampungData={};
                        this.get();
                    }else {
                        Swal.close();
                        Swal({
                                        title: "Memuat Data Gagal "+res,
                                        showClass: {
                                            popup: "animate__animated animate__fadeInDown"
                                        },
                                        hideClass: {
                                            popup: "animate__animated animate__fadeOutUp"
                                        }
                                    })
                    }
        },
        async openModalEdit(data){
            console.log(data);
            this.tampungData.nis= await data.nis;
            this.tampungData.nama_siswa=await data.nama_siswa; 
            this.tampungData.id_kelas= await data.id_kelas;
            this.id_kelas= await data.id_kelas;
            this.tampungData.id_akun= await data.akun.id_akun;
            this.modalEdit = await true;
            this.tampungData.id_siswa= await data.id_siswa;
            this.tampungData.password = await "";
        },
        async tambah(){
            Swal({
                title: "Loading",
                onBeforeOpen: () => {
                    Swal.showLoading();
                }
                });
                console.log(this.tampungData);
            let res = await this.$store.dispatch(`${Action.registerSiswa}`,this.tampungData);
            if(res.status == 200){
                        Swal.close();
                        this.modalTambah=false;
                        this.tampungData={};
                        this.get();
                    }else {
                        Swal.close();
                        Swal({
                                        title: "Memuat Data Gagal "+res,
                                        showClass: {
                                            popup: "animate__animated animate__fadeInDown"
                                        },
                                        hideClass: {
                                            popup: "animate__animated animate__fadeOutUp"
                                        }
                                    })
                    }
            // this.tampungData.mata_pelajaran =await
        },
        async getKelas(){
            Swal({
            title: "Loading",
            onBeforeOpen: () => {
                Swal.showLoading();
            }
            });
            let res = await this.$store.dispatch(`${Action.getAllKelas}`);
            if(res.status == 200){
                Swal.close();
                this.listKelas=res.data;
            }else {
                Swal.close();
                Swal({
                                title: "Memuat Data Gagal "+res,
                                showClass: {
                                    popup: "animate__animated animate__fadeInDown"
                                },
                                hideClass: {
                                    popup: "animate__animated animate__fadeOutUp"
                                }
                            })
            }
        },
        async openModalTambah(){
            this.modalTambah=true;
        },
        async get(){
            Swal({
            title: "Loading",
            onBeforeOpen: () => {
                Swal.showLoading();
            }
            });
            let res = await this.$store.dispatch(`${Action.getAllDataSiswa}`);
            if(res.status == 200){
                Swal.close();
                this.listData=res.data;
            }else {
                Swal.close();
                Swal({
                                title: "Memuat Data Gagal "+res,
                                showClass: {
                                    popup: "animate__animated animate__fadeInDown"
                                },
                                hideClass: {
                                    popup: "animate__animated animate__fadeOutUp"
                                }
                            })
            }
            console.log(res);
        },
    }
}
</script>