<template>
    <div>
        <mdb-card>
            <h3 class="p-3">
                <strong>Manajemen Akun Guru</strong>
            </h3>
            <mdb-btn class="mb-5 mt-3 ml-3 mr-3" @click.native="openModalTambah()" outline="primary">Tambah Guru</mdb-btn>
                  <mdb-card-body>
                      <mdb-tbl hover>
                          <thead class="blue-grey lighten-4">
                              <tr>
                                  <th>No</th>
                                  <th>NIP</th>
                                  <th>Nama</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody >
                              <tr v-for="(list,index) in listData" :key="index">
                                  <th scope="row">{{index+1}}</th>
                                  <td>{{list.nip}}</td>
                                  <td>{{list.nama}}</td>
                                  <td>
                                      <div class="row">
                                          <div class="col">
                                              <mdb-btn class="mr-3" tag="a" color="yellow" floating size="lg" @click="openModalEdit(list)" ><mdb-icon style="color:white" far icon="edit" /></mdb-btn>
                                              <mdb-btn class="mr-3" tag="a" color="green" floating size="lg" @click="openModalPass(list)"><mdb-icon icon="key" style="color:white" /></mdb-btn>
                                              <mdb-btn class="mr-3" tag="a" color="red" floating size="lg" @click="openModalDel(list)"><mdb-icon far icon="trash-alt" style="color:white" /></mdb-btn>
                                          </div>
                                      </div>
                                  </td>
                              </tr>
                          </tbody>
                      </mdb-tbl>
                  </mdb-card-body>
              </mdb-card>
              <mdb-modal :show="modalTambah" @close="modalTambah = false">
        <mdb-modal-header>
            <mdb-modal-title>Tambah Guru</mdb-modal-title>
        </mdb-modal-header>
        <mdb-modal-body>
            <mdb-input label="NIP" v-model="tampungData.nip" class="mb-5"/>
            <mdb-input label="NAMA" v-model="tampungData.nama" class="mb-5"/>
            <mdb-input label="Nomor Urut Guru" v-model="tampungData.no_urut_guru" class="mb-5"/>
            <mdb-input label="Tempat Lahir" v-model="tempat" class="mb-5"/>
            <!-- <v-date-picker
                v-model="tgl_lahir"
                mode="dateTime"
                :masks="masks"
            >
            </v-date-picker> -->
            <div>
                <label class="mr-3" for="">Tanggal Lahir</label>
                <v-date-picker v-model="tgl_lahir" :input-debounce="500">
                <template v-slot="{ inputValue, inputEvents }">
                    <input
                    class="bg-white border px-2 py-1 rounded"
                    :value="inputValue"
                    v-on="inputEvents"
                    />
                </template>
                </v-date-picker>
            </div>
            <!-- <mdb-input label="Tanggal Lahir" v-model="tgl_lahir" class="mb-5"/> -->
            <label class="mt-3" for="">Wali Kelas</label>
            <select class="browser-default custom-select" v-model="tampungData.status_wali_kelas">
                <option value="1">Ya</option>
                <option value="0">Tidak</option>
            </select>
            <mdb-input label="Nomor Hp" type="number" v-model="tampungData.no_hp" class="mb-5"/>
            <mdb-input label="Alamat Rumah" v-model="tampungData.alamat_rumah" class="mb-5"/>
            <mdb-input label="Pangkat_golongan" v-model="tampungData.pangkat_golongan" class="mb-5"/>
            <label class="mr-3" for="">TMT CPNS</label>
            <br>
                <v-date-picker v-model="tampungData.tmt_cpns" :input-debounce="500">
                <template v-slot="{ inputValue, inputEvents }">
                    <input
                    class="bg-white border px-2 py-1 rounded"
                    :value="inputValue"
                    v-on="inputEvents"
                    />
                </template>
                </v-date-picker>
                <br>
            <label class="mr-3 mt-2" for="">TMT UNIT KERJA</label>
            <br>
            <v-date-picker v-model="tampungData.tmt_unit_kerja" :input-debounce="500">
                <template v-slot="{ inputValue, inputEvents }">
                    <input
                    class="bg-white border px-2 py-1 rounded"
                    :value="inputValue"
                    v-on="inputEvents"
                    />
                </template>
            </v-date-picker>
            <mdb-input label="Pendidikan" v-model="tampungData.pendidikan" class="mb-5"/>
            <mdb-input label="Jurusan" v-model="tampungData.jurusan" class="mb-5"/>
            <mdb-input label="Status (PNS/NON-PNS)" v-model="tampungData.status" class="mb-5"/>
            <mdb-input label="Status Guru (INDUK)" v-model="tampungData.status_guru" class="mb-5"/>
            <mdb-input label="Jabatan" v-model="tampungData.jabatan" class="mb-5"/>
            <!-- <label class="mt-3" for="">Kelas</label>
            <select class="browser-default custom-select" v-model="id_kelas">
                <option :value="listKelas.id_kelas" v-for="(listKelas, index) in listKelas" :key="index">{{listKelas.nama_kelas}}</option>
            </select>
            <div v-if="listMapel.length != 0">
                <label class="mt-3" for="">Mata Pelajaran</label>
                <select class="browser-default custom-select" v-model="tampungData.id_mapel">
                    <option :value="listMapel.id_master_mapel" v-for="(listMapel, index) in listMapel" :key="index">{{listMapel.nama_mapel}}</option>
                </select>
            </div> -->
            <mdb-input label="password" v-model="tampungData.password" class="mb-5"/>
        </mdb-modal-body>
        <mdb-modal-footer>
            <mdb-btn color="secondary" @click.native="modalTambah = false">Close</mdb-btn>
            <mdb-btn color="primary" @click="tambah()">Tambah</mdb-btn>
        </mdb-modal-footer>
        </mdb-modal>
        

        <!-- modal edit -->
        <mdb-modal :show="modalEdit" @close="modalEdit = false" size="lg">
        <mdb-modal-header>
            <mdb-modal-title>Edit Guru</mdb-modal-title>
        </mdb-modal-header>
        <mdb-modal-body>
            <mdb-input label="NIP" v-model="tampungData.nip" class="mb-5"/>
            <mdb-input label="NAMA" v-model="tampungData.nama" class="mb-5"/>
            <mdb-input label="Nomor Urut Guru" v-model="tampungData.no_urut_guru" class="mb-5"/>
            <mdb-input label="Tempat Lahir" v-model="tempat" class="mb-5"/>
            <!-- <v-date-picker
                v-model="tgl_lahir"
                mode="dateTime"
                :masks="masks"
            >
            </v-date-picker> -->
            <div>
                <label class="mr-3" for="">Tanggal Lahir</label>
                <v-date-picker v-model="tgl_lahir" :input-debounce="500">
                <template v-slot="{ inputValue, inputEvents }">
                    <input
                    class="bg-white border px-2 py-1 rounded"
                    :value="inputValue"
                    v-on="inputEvents"
                    />
                </template>
                </v-date-picker>
            </div>
            <!-- <mdb-input label="Tanggal Lahir" v-model="tgl_lahir" class="mb-5"/> -->
            <label class="mt-3" for="">Wali Kelas</label>
            <select class="browser-default custom-select" v-model="tampungData.status_wali_kelas">
                <option value="1">Ya</option>
                <option value="0">Tidak</option>
            </select>
            <mdb-input label="Nomor Hp" type="number" v-model="tampungData.no_hp" class="mb-5"/>
            <mdb-input label="Alamat Rumah" v-model="tampungData.alamat_rumah" class="mb-5"/>
            <mdb-input label="Pangkat_golongan" v-model="tampungData.pangkat_golongan" class="mb-5"/>
            <label class="mr-3" for="">TMT CPNS</label>
            <br>
                <v-date-picker v-model="tampungData.tmt_cpns" :input-debounce="500">
                <template v-slot="{ inputValue, inputEvents }">
                    <input
                    class="bg-white border px-2 py-1 rounded"
                    :value="inputValue"
                    v-on="inputEvents"
                    />
                </template>
                </v-date-picker>
                <br>
            <label class="mr-3 mt-3" for="">TMT UNIT KERJA</label>
            <br>
            <v-date-picker v-model="tampungData.tmt_unit_kerja" :input-debounce="500">
                <template v-slot="{ inputValue, inputEvents }">
                    <input
                    class="bg-white border px-2 py-1 rounded"
                    :value="inputValue"
                    v-on="inputEvents"
                    />
                </template>
            </v-date-picker>
            <mdb-input label="Pendidikan" v-model="tampungData.pendidikan" class="mb-5"/>
            <mdb-input label="Jurusan" v-model="tampungData.jurusan" class="mb-5"/>
            <mdb-input label="Status (PNS/NON-PNS)" v-model="tampungData.status" class="mb-5"/>
            <mdb-input label="Status Guru (INDUK)" v-model="tampungData.status_guru" class="mb-5"/>
            <mdb-input label="Jabatan" v-model="tampungData.jabatan" class="mb-5"/>
            <div>
                <label class="mt-3" for="">Kelas</label>
            <select class="browser-default custom-select" v-model="id_kelas">
                <option :value="listKelas.id_kelas" v-for="(listKelas, index) in listKelas" :key="index">{{listKelas.nama_kelas}}</option>
            </select>
            <div v-if="listMapel.length != 0">
                <label class="mt-3" for="">Mata Pelajaran</label>
                <select class="browser-default custom-select" v-model="id_mapel">
                    <option :value="listMapel.id_master_mapel" v-for="(listMapel, index) in listMapel" :key="index">{{listMapel.nama_mapel}}</option>
                </select>
            </div>
            </div>
            <br>
            <mdb-btn class="mr-3" tag="a" color="success" floating size="sm" @click="tambahListKelas()"><p >Tambah Kelas</p></mdb-btn>
            <!-- <mdb-btn class="mr-3" tag="a" color="warning" floating size="sm" @click="ubahStatusFormKelasMapel()"><p for="">Mode Edit Kelas</p></mdb-btn> -->
            <mdb-tbl hover>
                          <thead class="blue-grey lighten-4">
                              <tr>
                                  <th>No</th>
                                  <th>Kelas</th>
                                  <th>Mata Pelajaran</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody >
                              <tr v-for="(list,index) in listKelasGuru" :key="index">
                                  <th scope="row">{{index+1}}</th>
                                    <td>
                                        <label v-if="list.status==false" for="">{{list.nama_kelas}}</label>
                                        <select v-else class="browser-default custom-select" v-model="id_kelas" @change="ubahKelas(list)">
                                            <option :value="listKelas.id_kelas" v-for="(listKelas, index) in listKelas" :key="index">{{listKelas.nama_kelas}}</option>
                                        </select>
                                    </td>
                                  <td>
                                      <label v-if="list.status==false" for="" >{{list.nama_mapel}}</label>
                                    <select v-else class="browser-default custom-select" v-model="id_mapel" @change="ubahMapel(list)">
                                        <option :value="listMapel.id_master_mapel" v-for="(listMapel, index) in listMapel" :key="index">{{listMapel.nama_mapel}}</option>
                                    </select>
                                  </td>
                                  <td>
                                      <div class="row">
                                          <!-- <div class="col"> -->
                                              <div class="col-3" v-if="list.status == false">
                                                  <mdb-btn class="mr-3" tag="a" color="yellow" floating size="lg" @click="ubahStatusFormKelasMapel(list)" ><mdb-icon style="color:white" far icon="edit" /></mdb-btn>
                                              </div>
                                              <div v-else class="col-3">
                                                  <mdb-btn class="mr-3" tag="a" color="primary" floating size="lg" @click="editListKelasGuru(list)" ><mdb-icon style="color:white" far icon="save" /></mdb-btn>
                                                  <mdb-btn class="mr-3" tag="a" color="danger" floating size="lg" @click="ubahStatusFormKelasMapel(list)" ><mdb-icon style="color:white" far icon="times-circle" /></mdb-btn>
                                              </div>
                                              <div class="col-3">
                                                  <mdb-btn class="mr-3" tag="a" color="red" floating size="lg" @click="DelListKelas(list)"><mdb-icon far icon="trash-alt" style="color:white" /></mdb-btn>
                                              </div>
                                          <!-- </div> -->
                                      </div>
                                  </td>
                              </tr>
                          </tbody>
                      </mdb-tbl>
        </mdb-modal-body>
        <mdb-modal-footer>
            <mdb-btn color="secondary" @click.native="modalEdit = false">Close</mdb-btn>
            <mdb-btn color="primary" @click="edit()">Edit</mdb-btn>
        </mdb-modal-footer>
        </mdb-modal>

        <!-- modal ganti pass -->
        <mdb-modal :show="modalEditPass" @close="modalEditPass = false">
        <mdb-modal-header>
            <mdb-modal-title>Edit Password</mdb-modal-title>
        </mdb-modal-header>
        <mdb-modal-body>
            <mdb-input label="Password" type="password" v-model="tampungData.password" class="mb-5"/>
            
        </mdb-modal-body>
        <mdb-modal-footer>
            <mdb-btn color="secondary" @click.native="modalEditPass = false">Close</mdb-btn>
            <mdb-btn color="primary" @click="editPass()">Edit</mdb-btn>
        </mdb-modal-footer>
        </mdb-modal>

        <!-- modal delete -->
        <mdb-modal :show="modalDelete" @close="modalDelete = false">
        <mdb-modal-header>
            <mdb-modal-title>Delete Akun</mdb-modal-title>
        </mdb-modal-header>
        <mdb-modal-body>
            <h4>
                <strong>
                    Apakah anda yakin ingin menghapus akun ini?
                </strong>
            </h4>
            
        </mdb-modal-body>
        <mdb-modal-footer>
            <mdb-btn color="secondary" @click.native="modalDelete = false">Close</mdb-btn>
            <mdb-btn color="primary" @click="del()">Hapus</mdb-btn>
        </mdb-modal-footer>
        </mdb-modal>
    </div>
</template>
<script>
import moment from 'moment';
import { mdbRow, mdbCol, mdbBtn, mdbCard, mdbCardBody, mdbIcon, mdbTbl, mdbBarChart, mdbBadge, mdbModal, mdbModalHeader, mdbModalTitle, mdbModalBody, mdbModalFooter, mdbInput } from 'mdbvue'
import { Action } from '../../store/api/types';
import 'sweetalert2/dist/sweetalert2.css';
import VDatePicker from 'v-calendar/lib/components/date-picker.umd'
import Swal from 'sweetalert2'
export default {
    // props:{
    //     id_kelas:{
    //         type: String,
    //         default: '',
    //         required: true
    //     }
    // },
    components:{
        mdbTbl,
        VDatePicker,
        mdbBtn,
        mdbCard,
        mdbCardBody,
        mdbInput,
        mdbIcon,
    mdbModal,
    mdbModalHeader,
    mdbModalTitle,
    mdbModalBody,
    mdbModalFooter
    },
    data(){
        return{
            masks: {
                input: 'YYYY-MM-DD h:mm A',
                weekdays: 'WWW',
            },
            // statusFormKelasMapel:false,
            modalTambah:false,
            modalEdit:false,
            modalEditPass:false,
            modalDelete:false,
            listData:[],
            tempat:"",
            tgl_lahir:"",
            listKelas:[],
            listMapel:[],
            listKelasGuru:[],
            id_kelas:"",
            id_mapel:"",
            tampungData:
                {
                    "no_urut_guru": "",
                    "id_akun":"",
                    "nip": "",
                    "nama": "",
                    "tempat_tgl_lahir": "",
                    "status_wali_kelas": "",
                    "no_hp": "",
                    "alamat_rumah": "",
                    "pangkat_golongan": "",
                    "tmt_cpns": "",
                    "tmt_unit_kerja": "",
                    "pendidikan": "",
                    "jurusan": "",
                    "status": "",
                    "status_guru": "",
                    "jabatan": "",
                    "id_mapel": "",
                    "id_kelas":"",
                    "password": "",
                    "id_guru":""
                },
        }
    },
    created(){
        this.get();
        this.getKelas();
    },
    watch:{
        async id_kelas(val){
            this.tampungData.id_kelas= await val;
            if(this.tampungData.id_kelas.length != 0){
                Swal({
                title: "Loading",
                onBeforeOpen: () => {
                    Swal.showLoading();
                }
                });
                let res = await this.$store.dispatch(`${Action.getMapelByidKelas}`, this.tampungData.id_kelas);
                    if(res.status == 200){
                        Swal.close();
                        this.listMapel=res.data;
                    }else {
                        Swal.close();
                        Swal({
                                        title: "Memuat Data Gagal "+res,
                                        showClass: {
                                            popup: "animate__animated animate__fadeInDown"
                                        },
                                        hideClass: {
                                            popup: "animate__animated animate__fadeOutUp"
                                        }
                                    })
                    }
            }
        },
        tgl_lahir(val){
        console.log(val);
        if (val) {
            this.tgl_lahir=moment(String(val)).format('YYYY-MM-DD');
        }
        }
    },
    methods:{
        async DelListKelas(list){
            Swal({
                title: "Loading",
                onBeforeOpen: () => {
                    Swal.showLoading();
                }
                });
            let data = {
                id_list_kelas:list.id_list_kelas
            }
            console.log(list);
            let res = await this.$store.dispatch(`${Action.deleteListKelasGuru}`,data);
            if(res.status == 200){
                Swal.close();
                this.id_kelas='';
                this.id_mapel='';
                this.getListKelasGuru(this.tampungData);
            } else{
                Swal.close();
                Swal({
                                        title: "hapus Data Gagal "+res,
                                        showClass: {
                                            popup: "animate__animated animate__fadeInDown"
                                        },
                                        hideClass: {
                                            popup: "animate__animated animate__fadeOutUp"
                                        }
                                    })
            }
        },
        async editListKelasGuru(list){
            Swal({
                title: "Loading",
                onBeforeOpen: () => {
                    Swal.showLoading();
                }
                });
            let data = {
                id_list_kelas:list.id_list_kelas,
                id_guru:this.tampungData.id_guru,
                id_kelas:this.id_kelas,
                id_mapel:this.id_mapel
            }
            console.log(list);
            let res = await this.$store.dispatch(`${Action.putListKelasGuru}`,data);
            if(res.status == 200){
                Swal.close();
                this.id_kelas='';
                this.id_mapel='';
                this.getListKelasGuru(this.tampungData);
            } else{
                Swal.close();
                Swal({
                                        title: "edit Data Gagal "+res,
                                        showClass: {
                                            popup: "animate__animated animate__fadeInDown"
                                        },
                                        hideClass: {
                                            popup: "animate__animated animate__fadeOutUp"
                                        }
                                    })
            }
        },
        async tambahListKelas(){
            Swal({
                title: "Loading",
                onBeforeOpen: () => {
                    Swal.showLoading();
                }
                });
            let data = {
                id_guru:this.tampungData.id_guru,
                id_kelas:this.id_kelas,
                id_mapel:this.id_mapel
            }
            let res = await this.$store.dispatch(`${Action.tambahListKelasGuru}`,data);
            if(res.status == 200){
                Swal.close();
                this.id_kelas='';
                this.id_mapel='';
                this.getListKelasGuru(this.tampungData);
            } else{
                Swal.close();
                Swal({
                                        title: "tambah Data Gagal "+res,
                                        showClass: {
                                            popup: "animate__animated animate__fadeInDown"
                                        },
                                        hideClass: {
                                            popup: "animate__animated animate__fadeOutUp"
                                        }
                                    })
            }
        },
        async ubahStatusFormKelasMapel(list){
            list.status=!list.status;
        },
        async ubahKelas(data){
            console.log(data);
        },
        async ubahMapel(data){

        },
        async getListKelasGuru(data){
            this.listKelasGuru=[];
            let res = await this.$store.dispatch(`${Action.getListKelasGuru}`,data);
            this.listKelasGuru=res.data;
        },
        async del(){
            Swal({
                title: "Loading",
                onBeforeOpen: () => {
                    Swal.showLoading();
                }
                });
            let res = await this.$store.dispatch(`${Action.delAkun}`,this.tampungData);
            console.log(res);
            if(res.status == 200){
                        Swal.close();
                        this.modalDelete=false;
                        this.tampungData={};
                        this.get();
                    }else {
                        Swal.close();
                        Swal({
                                        title: "Memuat Data Gagal "+res,
                                        showClass: {
                                            popup: "animate__animated animate__fadeInDown"
                                        },
                                        hideClass: {
                                            popup: "animate__animated animate__fadeOutUp"
                                        }
                                    })
                    }
        },
        async openModalDel(data){
            this.tampungData.id_akun= data.akun.id_akun;
            this.modalDelete=true;
        },
        async editPass(){
            Swal({
                title: "Loading",
                onBeforeOpen: () => {
                    Swal.showLoading();
                }
                });
                console.log(this.tampungData.password);
            let res = await this.$store.dispatch(`${Action.changePassword}`,this.tampungData);
            console.log(res);
            if(res.status == 200){
                        Swal.close();
                        this.modalEditPass=false;
                        this.tampungData={};
                        this.get();
                    }else {
                        Swal.close();
                        Swal({
                                        title: "Memuat Data Gagal "+res,
                                        showClass: {
                                            popup: "animate__animated animate__fadeInDown"
                                        },
                                        hideClass: {
                                            popup: "animate__animated animate__fadeOutUp"
                                        }
                                    })
                    }
        },
        async openModalPass(data){
            this.modalEditPass=await true;
            this.tampungData.id_akun=await data.akun.id_akun;
        },
        async edit(){
            Swal({
                title: "Loading",
                onBeforeOpen: () => {
                    Swal.showLoading();
                }
                });
            let res = await this.$store.dispatch(`${Action.putAkunGuru}`,this.tampungData);
            console.log(res);
            if(res.status == 200){
                        Swal.close();
                        this.modalEdit=false;
                        this.tampungData={};
                        this.get();
                    }else {
                        Swal.close();
                        Swal({
                                        title: "Memuat Data Gagal "+res,
                                        showClass: {
                                            popup: "animate__animated animate__fadeInDown"
                                        },
                                        hideClass: {
                                            popup: "animate__animated animate__fadeOutUp"
                                        }
                                    })
                    }
        },
        async openModalEdit(data){
            console.log(data);
            this.tampungData.no_urut_guru=await data.no_urut_guru;
            this.tampungData.nip= await data.nip;
            this.tampungData.nama=await data.nama; 
            let tampungSplitTtl = await data.tempat_tgl_lahir.split(";");
            this.tempat= await tampungSplitTtl[0];
            this.tgl_lahir= await tampungSplitTtl[1];
            this.tampungData.tempat_tgl_lahir= await data.tempat_tgl_lahir;
            this.tampungData.status_wali_kelas= await data.status_wali_kelas;
            this.tampungData.no_hp= await data.no_hp;
            this.tampungData.alamat_rumah= await data.alamat_rumah;
            this.tampungData.pangkat_golongan= await data.pangkat_golongan;
            this.tampungData.tmt_cpns= await data.tmt_cpns;
            this.tampungData.tmt_unit_kerja= await data.tmt_unit_kerja;
            this.tampungData.pendidikan= await data.pendidikan
            this.tampungData.jurusan= await data.jurusan;
            this.tampungData.status= await data.status;
            this.tampungData.status_guru= await data.status_guru;
            this.tampungData.jabatan= await data.jabatan;
            this.tampungData.id_mapel= await data.id_mapel;
            this.tampungData.id_kelas= await data.id_kelas;
            // this.id_kelas= await data.id_kelas;
            this.tampungData.id_akun= await data.akun.id_akun;
            this.modalEdit = await true;
            this.tampungData.id_guru= await data.id_guru;
            this.tampungData.password= await "";
            await this.getListKelasGuru(this.tampungData);
        },
        async tambah(){
            Swal({
                title: "Loading",
                onBeforeOpen: () => {
                    Swal.showLoading();
                }
                });
            this.tampungData.tempat_tgl_lahir=await this.tempat+";"+this.tgl_lahir;
            let res = await this.$store.dispatch(`${Action.registerGuru}`,this.tampungData);
            console.log(res);
            if(res.status == 200){
                        Swal.close();
                        this.modalTambah=false;
                        this.tampungData={};
                        this.get();
                    }else {
                        Swal.close();
                        Swal({
                                        title: "Memuat Data Gagal "+res,
                                        showClass: {
                                            popup: "animate__animated animate__fadeInDown"
                                        },
                                        hideClass: {
                                            popup: "animate__animated animate__fadeOutUp"
                                        }
                                    })
                    }
            // this.tampungData.mata_pelajaran =await
        },
        async getKelas(){
            Swal({
            title: "Loading",
            onBeforeOpen: () => {
                Swal.showLoading();
            }
            });
            let res = await this.$store.dispatch(`${Action.getAllKelas}`);
            if(res.status == 200){
                Swal.close();
                this.listKelas=res.data;
            }else {
                Swal.close();
                Swal({
                                title: "Memuat Data Gagal "+res,
                                showClass: {
                                    popup: "animate__animated animate__fadeInDown"
                                },
                                hideClass: {
                                    popup: "animate__animated animate__fadeOutUp"
                                }
                            })
            }
        },
        async openModalTambah(){
            this.modalTambah=true;
            this.getListKelasGuru();
        },
        async get(){
            Swal({
            title: "Loading",
            onBeforeOpen: () => {
                Swal.showLoading();
            }
            });
            let res = await this.$store.dispatch(`${Action.getAllAkunGuru}`);
            if(res.status == 200){
                Swal.close();
                this.listData=res.data;
            }else {
                Swal.close();
                Swal({
                                title: "Memuat Data Gagal "+res,
                                showClass: {
                                    popup: "animate__animated animate__fadeInDown"
                                },
                                hideClass: {
                                    popup: "animate__animated animate__fadeOutUp"
                                }
                            })
            }
            console.log(res);
        },
    }
}
</script>