<template>
  <div >
    <main>
      <view-wrapper >
          <div class="view">
              <mdb-mask overlay="black-strong" class="d-flex justify-content-center align-items-center ">
          <mdb-container>
              <!--Grid row-->
              <mdb-row class="pt-lg-5 mt-lg-5">
                <!--Grid column-->
                <mdb-col md="6" class="mb-5 mt-md-0 mt-5 white-text text-center text-md-left animated fadeInLeft">
                  <h1 class="display-4 font-weight-bold ">E - Learning</h1>
                  <hr class="hr-light">
                  <h6 class="mb-3 ">Selamat Datang di E - Learning SMPN 110 Jakarta</h6>
                  <!-- <mdb-btn outline="white">Learn more</mdb-btn> -->
                </mdb-col>
                <!--Grid column-->
                <!--Grid column-->
                <mdb-col md="6" xl="5" class="mb-4 animated fadeInRight">
                  <!--Form-->
                  <mdb-card>
                    <mdb-card-body class="z-depth-2">
                      <!--Header-->
                      <div class="text-center">
                        <h3 class="dark-grey-text">
                          <strong>Login</strong>
                        </h3>
                        <hr>
                      </div>
                      <!--Body-->
                      <div class="md-form">
                      <!--Input with icon prefix-->
                        <mdb-input type="text" icon="user" iconClass="grey-text" label="NIP/NIS" id="form-name" v-model="formLogin.identitas" />
                        <mdb-input type="password" icon="envelope" iconClass="grey-text" label="Password" id="form-email" v-model="formLogin.password" />
                        <!--Textarea with icon prefix-->
                      </div>
                      <div class="text-center mt-3">
                        <mdb-btn color="indigo" @click="login()">Login</mdb-btn>
                        <!-- <hr> -->
                        <!-- <fieldset class="form-check">
                          <mdb-input type="checkbox" label="Subscribe me to the newsletter" id="form-subscribe" inline/>
                        </fieldset> -->
                      </div>
                    </mdb-card-body>
                  </mdb-card>
                  <!--/.Form-->
                </mdb-col>
                <!--Grid column-->
              </mdb-row>
              <!--Grid row-->
          </mdb-container>
        </mdb-mask>
          </div>
        
      </view-wrapper>
    </main>
  </div>
</template>
<script>
  import { Action } from '../store/api/types';
  import 'sweetalert2/dist/sweetalert2.css'
  import Swal from 'sweetalert2'
  import router from '../router/index'
  import {  mdbInput, mdbMask, mdbRow, mdbCol, mdbContainer, mdbBtn, mdbCard, mdbCardBody } from 'mdbvue';

  export default {
    name: 'ContactFormPage',
    components: {
      mdbInput,
      mdbMask,
      mdbRow,
      mdbCol,
      mdbContainer,
      mdbBtn,
      mdbCard,
      mdbCardBody,
    },
    data(){
      return{  
        formLogin:{
          identitas:"",
          password:"",
        }
      }
    },
    methods:{
      login(){
        Swal({
				title: "Authentication",
				onBeforeOpen: () => {
					Swal.showLoading();
				}
			});
        this.$store.dispatch(`${Action.login}`, this.formLogin).then((res)=>{
          console.log(res);
          Swal.close();
						Swal({
							title: "Login Berhasil",
							showClass: {
								popup: "animate__animated animate__fadeInDown"
							},
							hideClass: {
								popup: "animate__animated animate__fadeOutUp"
							}
						}).then(ress => {
							router.push({ path: 'dashboard' })
						});
        }).catch(err=>{
          Swal({
							title: "Login Gagal "+err,
							showClass: {
								popup: "animate__animated animate__fadeInDown"
							},
							hideClass: {
								popup: "animate__animated animate__fadeOutUp"
							}
						})
        })
      }
    },
  }
</script>
<style scoped>
  .navbar .md-form {
    margin: 0;
  }
  .top-nav-collapse {
      background-color: #39448c !important;
  }
  @media (max-width: 990px){
    .navbar {
      background-color: #424f95 !important;
    }
  }
  
  .view {
    background-image: url('../assets/login.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:100vh;
  }
  h6 {
      line-height: 1.7;
  }
</style>