<template>
  <section id="profile">
    <mdb-container>
    <mdb-row>
      <mdb-col >
        <mdb-card testimonial>
          <mdb-card-up color="indigo" class="lighten-1"></mdb-card-up>
          <mdb-card-avatar color="white" class="mx-auto p-3"><mdb-icon far icon="user-circle" size="5x" /></mdb-card-avatar>
          <mdb-card-body>
            <center>
              <mdb-card-title>{{nama}}</mdb-card-title>
              <p>{{nomor_identitas}}</p>
              <p v-if="role==2">Guru</p>
              <p v-else-if="role ==1">Admin</p>
              <p v-else>Siswa</p>
              <mdb-btn size="sm" color="danger" @click="keluar()">Keluar</mdb-btn>
            <hr />
            <p>
              <mdb-icon icon="quote-left" /> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
              adipisci</p>
            </center>
          </mdb-card-body>
        </mdb-card>
      </mdb-col>
    </mdb-row>
  </mdb-container>
  </section>
</template>

<script>
import { mdbContainer, mdbRow, mdbCol, mdbCard, mdbCardImage, mdbCardHeader, mdbCardBody, mdbCardTitle, mdbCardText, mdbCardFooter, mdbCardUp, mdbCardAvatar, mdbCardGroup, mdbBtn, mdbView, mdbMask, mdbIcon } from 'mdbvue';
	export default {
		name: 'CardProPage',
		components: {
			mdbContainer,
			mdbRow,
			mdbCol,
			mdbCard,
			// mdbCardImage,
			// mdbCardHeader,
			mdbCardBody,
			mdbCardTitle,
			// mdbCardText,
			// mdbCardFooter,
			mdbCardUp,
			mdbCardAvatar,
			// mdbCardGroup,
			mdbBtn,
			// mdbView,
			// mdbMask,
			mdbIcon
		},
    data(){
      return{
        nama:localStorage.getItem("nama"),
        nomor_identitas:localStorage.getItem("nomor_identitas"),
        role:localStorage.getItem("role"),
      }
    },
    methods:{
      keluar(){
                localStorage.setItem('token', "");
                localStorage.setItem('id_user', "");
                    localStorage.setItem('nomor_identitas', "");
                    localStorage.setItem('id_kelas', "");
                localStorage.setItem('role', "");
                localStorage.setItem('nama', "");
                localStorage.setItem('id_mapel', "");
                this.$router.push({path: "/login"});
      }
    }
	}
</script>

<style scoped>
.profile-card-footer {
  background-color: #F7F7F7 !important;
  padding: 1.25rem;
}
.card.card-cascade .view {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15), 0 3px 12px 0 rgba(0, 0, 0, 0.15);
}
</style>
