<template>
<div>
  <mdb-card class="m-5 p-5" v-if="dataStatusTugas.status == 1">
    <mdb-card-body >
      <h2 class="text-center font-weight-bold pt-4 pb-5">
        <strong>{{dataTugas[0].nama_tugas}}</strong>
      </h2>
        <mdb-pagination circle style="justify-content:center">
            <div>
                <span v-if="currentSoal == 1">
                    <mdb-page-nav prev disabled></mdb-page-nav>
                </span>
                <span v-else @click="prev()">
                    <mdb-page-nav prev></mdb-page-nav>
                </span>
            </div>
            <div v-for="(list,index) in resDataSoal" :key="index">
                <span v-if="list.no_urut_soal == currentSoal" @click="clickToSoal(list.no_urut_soal)">
                    <mdb-page-item active>Soal {{list.no_urut_soal}}</mdb-page-item>
                </span>
                <span v-else @click="clickToSoal(list.no_urut_soal)">
                    <mdb-page-item>Soal {{list.no_urut_soal}}</mdb-page-item>
                </span>
            </div>
            <div>
                <span v-if="currentSoal == resDataSoal.length">
                    <mdb-page-nav disabled next ></mdb-page-nav>
                </span >
                <span v-else @click="next()"><mdb-page-nav next></mdb-page-nav></span>
            </div>
        </mdb-pagination>
        <section class="p-3">
            <div v-for="(soal, index) in resDataSoal" :key="index">
                <div v-if="soal.no_urut_soal == currentSoal">
                    <h5>
                    {{soal.no_urut_soal}}. {{soal.soal}}
                    </h5>
                    <br>
                    <div v-if="soal.file != null && soal.file != ''">
                        <iframe :src="'http://backendrest.e-learningsmpn110jakarta.my.id/controller/dokumen/'+soal.file" style="width:718px; height:700px;" frameborder="0"></iframe>
                    </div>
                    <br>
                    <div v-if="soal.type_soal == 1">
                        <mdb-btn-group v-if="soal.jawaban.length != 0">
                            <div v-for="(jawaban ,index) in soal.jawaban" :key="index">
                                <mdb-btn color="primary" :active="jawaban.status">{{jawaban.pilihan}}. {{jawaban.value}}</mdb-btn>
                            </div>
                        </mdb-btn-group>
                        <br>
                        <div class="ml-1 mt-3">
                            <label for=""><h5>Jawaban Siswa :</h5></label>
                            <label class="ml-2" for=""><h5>{{soal.jawabanSiswa}}</h5></label>
                        </div>
                    </div>
                    <div v-else>
                        <label for=""><h3>Jawaban Siswa</h3></label>
                        <mdb-input v-model="soal.jawabanSiswa"></mdb-input>
                    </div>
                    <label for=""><h5>Lampiran</h5></label><br>
                <div v-if="soal.fileJawaban != null && soal.fileJawaban != ''">
                        <iframe :src="'http://backendrest.e-learningsmpn110jakarta.my.id/controller/dokumen/'+soal.fileJawaban" style="width:718px; height:700px;" frameborder="0"></iframe>
                    </div>
                </div>
                
            </div>
            <mdb-btn v-if="currentSoal == resDataSoal.length" @click="prev()">Prev</mdb-btn>
            <mdb-btn v-else @click="next()">Next</mdb-btn>
        </section>
    </mdb-card-body>
  </mdb-card>
  </div>
</template>
<script>
import { Action } from '../../../store/api/types';
  import 'sweetalert2/dist/sweetalert2.css'
  import Swal from 'sweetalert2'
  import FileSelector from 'vue-file-selector';
  import {
    // mdbStepper,
    mdbPagination,
      mdbPageItem,
      mdbPageNav,
    mdbInput,
    mdbCard,
    mdbCardBody,
    mdbBtn,
            mdbBtnGroup
  } from "mdbvue";

  export default {
    components: {
    // mdbStepper,
    mdbInput,
    mdbCard,
    mdbCardBody,
    mdbPagination,
      mdbPageItem,
      mdbPageNav,
      mdbBtn,
            mdbBtnGroup
  },
  data(){
      return{
          statusBukaSoal:false,
          files: [],
          nilaiEssai:[],
          currentSoal:1,
          waktu:"",
          idFileSoal:"",
          fileSoal:"",
          jawabanPg:[],
          active5: true,
          active6: false,
          active7: false,
          resDataSoal:[],
          resDataSoalEssai:[],
          idFile:"",
          essai:"",
          statusSimpanEssai:"",
          timerTime:"--:--",
          dataStatusTugas:{},
          timerMaximal:"",
          autoKirim:false,
          dataTugas:[]
      }
  },
  watch:{
      statusSimpanEssai(val){
          this.statusSimpanEssai=val;
      },
      dataStatusTugas(val){

      },
  },
  created(){
      console.log("sniii");
      this.getTugas();
  },
  mounted(){
      console.log(this.$route);
      this.getSoal();
      this.getStatusSoal();
      console.log(this.$route.query.id);
  },
  methods:{
      async getTugas(){
        Swal({
          title: "Loading",
          onBeforeOpen: () => {
            Swal.showLoading();
          }
        });
          let res = await this.$store.dispatch(`${Action.getTugasByIdTugas}`, this.$route.query.id);
          console.log(res);
          if(res.status == 200){
            Swal.close();
            this.dataTugas= await res.data;
          } else{
            Swal.close();
            Swal({
							title: "Memuat Data Gagal "+res,
							showClass: {
								popup: "animate__animated animate__fadeInDown"
							},
							hideClass: {
								popup: "animate__animated animate__fadeOutUp"
							}
						})
          }
      },
      async getStatusSoal(){
          Swal({
            title: "Loading",
            onBeforeOpen: () => {
                Swal.showLoading();
            }
            }); 
            let data = await {
                id_tugas:this.$route.query.id,
                id_siswa:this.$route.query.id_siswa
            }
            console.log(data);
            let res = await this.$store.dispatch(`${Action.getStatusTugasForGuru}`, data);
            console.log(res);
            this.dataStatusTugas = await res.data[0];
            console.log(this.dataStatusTugas);
            if(res.status == 200){
                if(res.data.length != 0){
                        this.statusBukaSoal=true;
                } else {
                    this.statusBukaSoal=false;
                }
              Swal.close();
            } else{
                this.statusBukaSoal=false;
                    Swal({
                    title: "buka soal gagal "+res,
                    showClass: {
                        popup: "animate__animated animate__fadeInDown"
                        },
                    hideClass: {
                        popup: "animate__animated animate__fadeOutUp"
                        }
                    })
            }
      },
      async ubahStatusSoal(status){
         Swal({
            title: "Loading",
            onBeforeOpen: () => {
                Swal.showLoading();
            }
            }); 
            var mili = new Date().getTime();
            let data = {
                id_nama_tugas:this.$route.query.id,
                waktu_mulai:mili,
                status_tugas:status,
                waktu_selesai:mili
            }
            let res = await this.$store.dispatch(`${Action.postStatusTugas}`,data);
            if(res.status == 200){
              this.statusBukaSoal=true;
              this.getStatusSoal();
              Swal.close();
            } else{
                    Swal({
                    title: "buka soal gagal "+res,
                    showClass: {
                        popup: "animate__animated animate__fadeInDown"
                        },
                    hideClass: {
                        popup: "animate__animated animate__fadeOutUp"
                        }
                    })
            }
      },
      async deleteFile(idFile){
          Swal({
            title: "Loading",
            onBeforeOpen: () => {
                Swal.showLoading();
            }
            });
          let res = await this.$store.dispatch(`${Action.deleteFile}`, idFile);
          if(res.status == 200){
              this.files=await [];
              Swal.close();
          } else{
                Swal({
				title: "delete file gagal "+res,
				showClass: {
					popup: "animate__animated animate__fadeInDown"
					},
				hideClass: {
					popup: "animate__animated animate__fadeOutUp"
					}
				})
          }
      },
      async cekJawabanEssai(idSoal){
          let res = await this.jawabanPg.filter(fl => fl.id_soal === idSoal);
          if(res.length == 0 ){
              this.statusSimpanEssai = 0;
          } else{
              this.statusSimpanEssai = 1;
          }
      },
      async clearJawabanEssai(soal){
          this.jawabanPg = await this.jawabanPg.filter(fl=>fl.id_soal != soal.id_soal);
          await this.cekJawabanEssai(soal.id_soal);
          this.essai="";
          console.log(this.jawabanPg);
      },
      async simpanInput(soal,jawaban){
          await this.jawabanPg.push({id_soal:soal.id_soal,id_kelas:soal.id_kelas,id_pelajaran:soal.id_pelajaran,id_tugas:soal.id_tugas,type_soal:soal.type_soal, id_siswa:localStorage.getItem("id_user"),point:0,file:this.idFile,jawaban:jawaban})
          console.log(this.jawabanPg);
          await this.cekJawabanEssai(soal.id_soal);
      },
      async kirimFile(file){
            Swal({
            title: "Loading",
            onBeforeOpen: () => {
                Swal.showLoading();
            }
            });
          let res = await this.$store.dispatch(`${Action.postFile}`, file);
          console.log(res);
          this.idFile= await res.data.id;
          if(res.status == 200){
              Swal.close();
          } else{
                Swal({
				title: "delete file gagal "+res,
				showClass: {
					popup: "animate__animated animate__fadeInDown"
					},
				hideClass: {
					popup: "animate__animated animate__fadeOutUp"
					}
				})
          }
      },
      handleFilesValidated(result, files) {
      console.log('Validation result: ' + result);
    },
 
    handleFilesChanged(files) {
      console.log('Selected files: ');
      console.table(files[0].name);
      this.files = files;
    },
      async kirimJawaban(){
          Swal({
            title: "Loading",
            onBeforeOpen: () => {
                Swal.showLoading();
            }
            });
            console.log(this.jawabanPg);
          let res = await this.$store.dispatch(`${Action.postJawabanSiswa}`, this.jawabanPg);
          console.log(res);
          if(res.status == 200){
              var mili = new Date().getTime();
              let dataNilai ={
                  id_kelas:this.$route.query.id_kelas,
                  id_mapel:this.dataTugas[0].id_mapel,
                  id_tugas:this.dataTugas[0].id_nama_tugas,
                  nilai:null,
                  waktu_mulai:this.dataStatusTugas.waktu_mulai,
                  waktu_selesai:mili,
                  jawaban_siswa:this.jawabanPg
              }
              let resTambahNilai =  await this.$store.dispatch(`${Action.postNilai}`, dataNilai);
              if(resTambahNilai.status == 200){
                    Swal.close();
                    this.ubahStatusSoal(1);
                    this.statusBukaSoal=false;
                    this.timerTime="--:--";
              }
          } else{
                Swal({
				title: "kirim jawaban gagal "+res,
				showClass: {
					popup: "animate__animated animate__fadeInDown"
					},
				hideClass: {
					popup: "animate__animated animate__fadeOutUp"
					}
				})
          }
      },
      async add(jawaban,soal){
          let filterSoalYangSudahDijawab = await this.jawabanPg.filter(fl=>fl.id_soal === soal.id_soal);
          if(filterSoalYangSudahDijawab.length == 0){
                jawaban.status = await true;
                await this.jawabanPg.push({id_soal:soal.id_soal,id_kelas:soal.id_kelas,id_pelajaran:soal.id_pelajaran,id_tugas:soal.id_tugas,type_soal:soal.type_soal, id_siswa:localStorage.getItem("id_user"),point:0,file:null,jawaban:jawaban.pilihan});
          } else {
                for(var i=0;i<soal.jawaban.length;i++){
                    soal.jawaban[i].status = await false;
                }
                jawaban.status = await true;
                this.jawabanPg = await this.jawabanPg.filter(fl=>fl.id_soal != soal.id_soal);
                await this.jawabanPg.push({id_soal:soal.id_soal,id_kelas:soal.id_kelas,id_pelajaran:soal.id_pelajaran,id_tugas:soal.id_tugas,type_soal:soal.type_soal, id_siswa:localStorage.getItem("id_user"),point:0,file:null,jawaban:jawaban.pilihan});
          }
          console.log(this.jawabanPg);
      },
      toggleActiveState5() {
                this.active5 = true;
                this.active6 = false;
                this.active7 = false;
            },
            toggleActiveState6() {
                this.active5 = false;
                this.active6 = true;
                this.active7 = false;
            },
            toggleActiveState7() {
                this.active5 = false;
                this.active6 = false;
                this.active7 = true;
            },
      clickToSoal(soal){
          this.currentSoal=soal;
      },
      next(){
          console.log("next");
          this.currentSoal = this.currentSoal+1;
      },
      prev(){
          console.log("prev");
          this.currentSoal = this.currentSoal-1
      },
      async getSoal(){
        //   console.log(this.listSoal);
        //   Swal({
        //     title: "Authentication",
        //     onBeforeOpen: () => {
        //         Swal.showLoading();
        //     }
        //     });
          let body ={
              id_nama_tugas:this.$route.query.id,
              id_kelas:this.$route.query.id_kelas
          }
          
          let resJawabanSiswa={};
         let res = await this.$store.dispatch(`${Action.getSoalByIdTugas}`, body);
        // this.resDataSoalEssai = await res.data.filter(fl=>fl.type_soal===0);
        console.log("siniiii");
         for(var i=0;i<res.data.length;i++){
             let bodyGetJawaban ={
              id_siswa:this.$route.query.id_siswa,
              id_soal:res.data[i].id_soal
          }
             resJawabanSiswa = await this.$store.dispatch(`${Action.getJawabanSiswaBySoal}`, bodyGetJawaban);
                 this.resDataSoal.push(
                            {
                                file: res.data[i].file,
                                id_kelas: res.data[i].id_kelas,
                                id_pelajaran: res.data[i].id_pelajaran,
                                id_soal: res.data[i].id_soal,
                                id_tugas: res.data[i].id_tugas,
                                jawaban: res.data[i].jawaban,
                                no_urut_soal: res.data[i].no_urut_soal,
                                soal: res.data[i].soal,
                                type_soal: res.data[i].type_soal,
                                jawabanSiswa:resJawabanSiswa.data.jawaban,
                                fileJawaban:resJawabanSiswa.data.file
                            });
             if(res.data[i].type_soal == 1){
                 let tampungJawabanFromSoal = await res.data[i].jawaban.split(";");
                 
                for(var j=0;j<tampungJawabanFromSoal.length;j++){
                    let tampungPemisahValue = await tampungJawabanFromSoal[j].split(". ");
                    if(Array.isArray(this.resDataSoal[i].jawaban) == true){
                        this.resDataSoal[i].jawaban.push({pilihan:tampungPemisahValue[0],value:tampungPemisahValue[1],status:false});
                    } else {
                        this.resDataSoal[i].jawaban = await [{pilihan:tampungPemisahValue[0],value:tampungPemisahValue[1],status:false,}];
                    }
                }
                
             } else {
                 console.log("capekkk");
                 console.log(resJawabanSiswa.data.file);
                 if(resJawabanSiswa.data.file != null && resJawabanSiswa.data.file != 0){
                     let resFileJawaban = await this.$store.dispatch(`${Action.getFile}`, resJawabanSiswa.data.file);
                     console.log(resFileJawaban);
                     this.resDataSoal[i].fileJawaban = await resFileJawaban.data.nama_file
                 }
             }
             if(this.resDataSoal[i].file != null && this.resDataSoal[i].file != ''){
                 let resFile = await this.$store.dispatch(`${Action.getFile}`, this.resDataSoal[i].file);
                    console.log(resFile);
                    if(resFile.status == 200){
                        this.resDataSoal[i].file = await resFile.data.nama_file
                    }
             }
         }
         console.log(this.resDataSoal);
      }
  }
  };
</script>