
<template>
  <div class="flexible-content">
    <main>
      <div >
        <router-view></router-view>
      </div>
    </main>
  </div>
</template>

<script>
import {
} from "mdbvue";

export default {
  name: "Login",
  components: {
  },
  
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
.navbar-light .navbar-brand {
  margin-left: 15px;
  color: #2196f3 !important;
  font-weight: bolder;
}
</style>

<style scoped>
main {
  background-color: #ededee;
}

.flexible-content {
  transition: padding-left 0.3s;
  padding-left: 0px;
}
</style>