<template>
  <div class="flexible-content">
    <!--Navbar-->
    <NavBar />
    <!--/.Navbar-->
    <!-- Sidebar -->
    <SideBar />
    <!-- /Sidebar  -->
    <main>
      <div class="mt-5 p-5">
        <router-view></router-view>
      </div>
      <Footer />
    </main>
  </div>
</template>

<script>
import {Action} from '../src/store/api/types';
import Footer from '../src/components/footer/footer.vue'
import SideBar from '../src/components/navigation/sideBar.vue'
// import SideBar from '../src/components/navigation/sideBar2.vue'
import NavBar from '../src/components/navigation/navBar.vue'
import router from '../src/router/index.js'
import {
  waves
} from "mdbvue";

export default {
  name: "AdminTemplate",
  components: {
    Footer,
    SideBar,
    NavBar,
  },
  data() {
    return {
      activeItem: 1
    };
  },
  created(){
    // this.cekToken();
  },
  methods:{
    // cekToken(){
    //   this.$store.dispatch(`${Action.getMenuBot}`).then(res=>{
    //     console.log(res.statusCode);
    //     if(res.status != 200){
    //       router.push({ path: 'login' });
    //     }
    //   })
    //   .catch(err=>{
    //     console.log("error");
    //     if(err)
    //     console.log(err);
    //     return router.push({ path: 'login' });
    //   })
    // }
  },
  beforeMount() {
    this.activeItem = this.$route.matched[0].props.default.page;
  },
  mixins: [waves]
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
.navbar-light .navbar-brand {
  margin-left: 15px;
  color: #2196f3 !important;
  font-weight: bolder;
}
</style>

<style scoped>
main {
  background-color: #ededee;
}

.flexible-content {
  transition: padding-left 0.3s;
  padding-left: 270px;
}

.flexible-navbar {
  transition: padding-left 0.5s;
  padding-left: 270px;
}

.sidebar-fixed {
  left: 0;
  top: 0;
  height: 100vh;
  width: 270px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0;
}

.sidebar-fixed .logo-wrapper img {
  width: 100%;
  padding: 2.5rem;
}

.sidebar-fixed .list-group-item {
  display: block !important;
  transition: background-color 0.3s;
}

.sidebar-fixed .list-group .active {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none;
  }
  .flexible-content {
    padding-left: 0;
  }
  .flexible-navbar {
    padding-left: 10px;
  }
}
</style>

